<div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-auto">
                <div class="form-group" style="width: 300px; float:right; margin-bottom: 50px;">
                    <label for="vehicule_id">Conducteurs</label>
                    <select class="form-select form-select-sm" id="vehicule_id" (change)="changeConducteur($event)" [(ngModel)]="filter.vehicule_id" name="vehicule_id">
                        <option>Veuillez choisir ...</option>
                        <option value="{{conducteur.vehicule_id}}" *ngFor="let conducteur of conducteurs">{{conducteur.prenom}} {{conducteur.nom}}</option>
                    </select>
                </div>
            </div>
            <!-- ./col-auto -->
        </div>
        <div>
            <div class="row">
                <div class="col-md-8">
                    <div class="card bg">
                        <div class="card-header">
                            <canvas id="chart_score"></canvas>
                        </div>
                        <div class="card-body">
                            <h4 class="card-header-title txt-card">
                                Évolution de Score de ce mois
                            </h4>
                        </div>
                    </div>
                    <!-- ./card autres charts-->
                </div>
                <!-- ./col-md-8 -->
                <div class="col-md-4">
                    <div class="card pt-2">
                        <div class="card-header">
                            <h4 class="card-header-title">
                                Classement
                            </h4>
                        </div>
                        <div class="card-body">
                            <!-- List group -->
                            <div class="list-group list-group-flush list-group-activity my-n3">
                                <div class="list-group-item">
                                    <div class="row">
                                        <div class="col-auto">
                                            <div class="avatar avatar-sm">
                                                <div class="avatar-title fs-lg bg-primary-soft rounded-circle text-primary">
                                                    <i class="fa-solid fa-car"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col ms-n2">
                                            <h5 class="mb-1">
                                                Score maximale
                                            </h5>
                                            <small class="text-muted">{{score.maximale}}%</small>
                                        </div>
                                    </div>
                                    <!-- / .row -->
                                </div>
                            </div>
                            <!-- ./list-group -->
                            <div class="list-group list-group-flush list-group-activity my-n3">
                                <div class="list-group-item">
                                    <div class="row">
                                        <div class="col-auto">
                                            <div class="avatar avatar-sm">
                                                <div class="avatar-title fs-lg bg-primary-soft rounded-circle text-primary">
                                                    <i class="fa-solid fa-car"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col ms-n2">
                                            <h5 class="mb-1">
                                                Score minimal
                                            </h5>
                                            <small class="text-muted">{{score.minimal}}%</small>
                                        </div>
                                    </div>
                                    <!-- / .row -->
                                </div>
                            </div>
                            <!-- ./list-group -->
                        </div>
                    </div>
                </div>
                <!-- ./col-md-8 -->
            </div>
            <!-- ./row fiche vehicule -->
            <div class="row">
                <div class="col-md-12">
                    <small class="text-muted mb-6 h4">
                        {{filter.conducteur}}: du {{filter.date_debut | date:'dd/MM/yyyy'}}, au {{filter.date_fin | date:'dd/MM/yyyy'}}
                    </small>
                    <!--- **** **** **** **** **** **** *** **** **** *** -->
                    <div class="dropdown float-right mb-6">
                        <!-- Toggle -->
                        <button class="btn btn-primary shadow" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">
                            <i class="fa-solid fa-arrow-down-wide-short"></i> Analyser par ...
                        </button>
                        <!-- Menu -->
                        <form class="dropdown-menu dropdown-menu-end dropdown-menu-card">
                            <div class="card-body">
                                <!-- List group -->
                                <div class="list-group list-group-flush mt-n4 mb-4">
                                    <div class="list-group-item">
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label for="vehicule_id">Type de graphe</label>
                                                    <select class="form-select form-select-sm" id="type_chart" [(ngModel)]="filter.typeFilter" name="typeFilter">
                                                        <option value="" disabled>Veuillez choisir ...</option>
                                                        <option value="acceleration" selected>Acceleration brusque</option>
                                                        <option value="freinage">Freinage brusque</option>
                                                        <option value="virrage_serre">Comportement excessif</option>
                                                        <option value="driveTime">Temps de conduite</option>
                                                        <option value="speedScore">Nbre des excès de vitesse</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- / .row -->
                                    </div>
                                    <div class="list-group-item">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <form class="row gx-0 mb-3 frm-search-jms" #searchForm="ngForm">
                                                    <!-- <ul class="nav nav-tabs nav-tabs-sm card-header-tabs mb-3">
                                                        <li class="nav-item" data-toggle="chart" data-target="#salesChart" data-trigger="click" data-action="toggle" data-dataset="0" (click)="changeType('jour')">
                                                            <a class="nav-link active" href="#" data-bs-toggle="tab">
                                                                Jour
                                                            </a>
                                                        </li>
                                                        <li class="nav-item" data-toggle="chart" data-target="#salesChart" data-trigger="click" data-action="toggle" data-dataset="2" (click)="changeType('periode')">
                                                            <a class="nav-link" href="#" data-bs-toggle="tab">
                                                                Période
                                                            </a>
                                                        </li>
                                                    </ul> -->
                                                    <!-- jour -->
                                                    <!-- <input type="date" class="form-control form-control-sm" [(ngModel)]="filter.date_debut" name="date_debut" *ngIf="typeFilter=='jour'"> -->
                                                    <!-- periode -->
                                                    <div class="input-group">
                                                        <input type="date" class="form-control form-control-sm" [(ngModel)]="filter.date_debut" name="date_debut">
                                                        <input type="date" class="form-control form-control-sm" [(ngModel)]="filter.date_fin" name="date_fin">
                                                    </div>
                                                    <!-- -->
                                                </form>
                                            </div>
                                        </div>
                                        <!-- / .row -->
                                    </div>
                                </div>
                                <!-- Button -->
                                <button class="btn w-100 btn-outline-primary" type="button" (click)="filterData()">
                                    Appliquer le filtre
                                </button>
                            </div>
                        </form>
                    </div>
                    <!-- ./select -->
                    <div class="card bg">
                        <div class="card-header">
                            <canvas id="chart_conducteur"></canvas>
                        </div>
                        <div class="card-body">
                            <h4 class="card-header-title txt-card">
                                {{ filter.typeFilter =='acceleration'? 'Acceleration brusque' : (filter.typeFilter =='freinage'? 'Freinage brusque' : (filter.typeFilter =='virrage_serre'? 'Comportement excessif':(filter.typeFilter =='driveTime'? 'Temps de conduite':(filter.typeFilter
                                =='speedScore'? 'Nbre des excès de vitesse':'')))) }}
                                <span class="badge badge-warning bg-primary">Max: <span id="maxVal">_</span></span>
                            </h4>

                        </div>
                    </div>
                    <!-- ./card autres charts-->
                </div>
            </div>
            <!-- ./row -->
        </div>
    </div>