<div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-auto">
                <!-- Dropdown -->
                <div class="dropdown float-right">
                    <!-- Toggle -->
                    <button class="btn btn-primary shadow" type="button" data-bs-toggle="dropdown"
                        data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">
                        <i class="fa-solid fa-arrow-down-wide-short"></i> Analyser par ...
                    </button>
                    <!-- Menu -->
                    <form class="dropdown-menu dropdown-menu-end dropdown-menu-card">
                        <div class="card-body">
                            <!-- List group -->
                            <div class="list-group list-group-flush mt-n4 mb-4">
                                <div class="list-group-item">
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="vehicule_id">Véhicules</label>
                                                <select class="form-select form-select-sm" id="vehicule_id">
                                                    <option>Veuillez choisir ...</option>
                                                    <option>Véhicule 1</option>
                                                    <option>Véhicule 2</option>
                                                    <option>Véhicule 3</option>
                                                    <option>Véhicule 4</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div> <!-- / .row -->
                                </div>
                                <div class="list-group-item">
                                    <div class="row">
                                        <div class="col">
                                            <div class="row align-items-center">
                                                <div class="col">
                                                    <ul class="nav nav-tabs nav-tabs-sm card-header-tabs mb-3">
                                                        <li class="nav-item" data-toggle="chart" data-target="#salesChart" data-trigger="click" data-action="toggle" data-dataset="0">
                                                            <a class="nav-link active" data-bs-toggle="tab" (click)="typeFilter='jour'">
                                                                Jour
                                                            </a>
                                                        </li>
                                                        <li class="nav-item" data-toggle="chart" data-target="#salesChart" data-trigger="click" data-action="toggle" data-dataset="2">
                                                            <a class="nav-link" data-bs-toggle="tab" (click)="typeFilter='semaine'">
                                                                Semaine
                                                            </a>
                                                        </li>
                                                        <li class="nav-item" data-toggle="chart" data-target="#salesChart" data-trigger="click" data-action="toggle" data-dataset="1">
                                                            <a class="nav-link" data-bs-toggle="tab" (click)="typeFilter='mois'">
                                                                Mois
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <input type="date" class="form-control form-control-sm" *ngIf="typeFilter=='jour'">
                                                    <input type="week" class="form-control form-control-sm" *ngIf="typeFilter=='semaine'">
                                                    <input type="month" class="form-control form-control-sm" *ngIf="typeFilter=='mois'">
                                                </div>
                                            </div>
                                        </div>
                                    </div> <!-- / .row -->
                                </div>
                            </div>
                            <!-- Button -->
                            <button class="btn w-100 btn-outline-primary" type="submit">
                                Appliquer le filtre
                            </button>
                        </div>
                    </form>
                </div>
            </div> <!-- ./col-auto -->
        </div>
        <div>
            <div class="row">
                <div class="col-md-8">
                    <div class="card bg">
                        <div class="card-header">
                            <canvas id="chart_score"></canvas>
                        </div>
                        <div class="card-body">
                            <h4 class="card-header-title txt-card">
                                Évolution de Score
                            </h4>
                        </div>
                    </div><!-- ./card autres charts-->
                </div> <!-- ./col-md-8 -->
                <div class="col-md-4">
                    <div class="card pt-2">
                        <div class="card-header">
                            <h4 class="card-header-title">
                                Classement
                            </h4>
                        </div>
                        <div class="card-body">
                            <!-- List group -->
                            <div class="list-group list-group-flush list-group-activity my-n3">
                                <div class="list-group-item">
                                    <div class="row">
                                        <div class="col-auto">
                                            <div class="avatar avatar-sm">
                                                <div class="avatar-title fs-lg bg-primary-soft rounded-circle text-primary">
                                                    <i class="fa-solid fa-car"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col ms-n2">
                                            <h5 class="mb-1">
                                                Score maximale
                                            </h5>
                                            <small class="text-muted">100%</small>
                                        </div>
                                    </div> <!-- / .row -->
                                </div>
                            </div><!-- ./list-group -->
                            <div class="list-group list-group-flush list-group-activity my-n3">
                                <div class="list-group-item">
                                    <div class="row">
                                        <div class="col-auto">
                                            <div class="avatar avatar-sm">
                                                <div class="avatar-title fs-lg bg-primary-soft rounded-circle text-primary">
                                                    <i class="fa-solid fa-car"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col ms-n2">
                                            <h5 class="mb-1">
                                                Score minimal
                                            </h5>
                                            <small class="text-muted">10%</small>
                                        </div>
                                    </div> <!-- / .row -->
                                </div>
                            </div><!-- ./list-group -->
                        </div>
                    </div>
                </div><!-- ./col-md-8 -->
            </div><!-- ./row fiche vehicule -->
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group" style="width: 300px; float:right; margin-bottom: 50px;">
                        <label for="vehicule_id">Type de graphe</label>
                        <select class="form-select" id="type_chart" (change)="changeTypeChart($event)">
                            <option value="" disabled>Veuillez choisir ...</option>
                            <option value="acceleration-brusque" selected>Acceleration brusque</option>
                            <option value="freinage-brusque">Freinage brusque</option>
                            <option value="comportement-excessif">Comportement excessif</option>
                            <option value="temps-de-conduite">Temps de conduite</option>
                            <option value="conduite-dangereuse-100km">Conduite dangereuse/100km</option>
                            <option value="Nbre-des-exces-de-vitesse">Nbre des excès de vitesse</option>
                            <option value="emission-CO2">Emission CO2</option>
                        </select>
                    </div><!-- ./select -->
                    <div class="card bg">
                        <div class="card-header">
                            <canvas id="chart_vehicule"></canvas>
                        </div>
                        <div class="card-body">
                            <h4 class="card-header-title txt-card">
                                Chart selectionner <span class="badge badge-warning bg-primary">Max: 400</span>
                            </h4>

                        </div>
                    </div><!-- ./card autres charts-->
                </div>
            </div> <!-- ./row -->
        </div>
    </div>