table{ width: 100%; }

.dropdown-menu-end{ z-index: 1040; }

.active{ background-color: rgba(25, 109, 168,0.2); }

#chart-principal{ height: 290px !important; }

.dropdown-menu { text-transform: initial !important; }

tfoot p{ margin: 20px 10px; }

td.nom-prenom { padding-left: 10px; }

.nav-tabs{ font-size: 14px; }

.form-search ul{ margin-left: 13px; }

.card-header-tabs .nav-link.active{ background-color: transparent; }

.border-bottom{ 
    border-bottom: 4px solid #196da8 !important; 
    color:#196da8 !important; 
}

.frm-search-jms{
    width: 148px;
    float: right;
}

.dropdown-item {
    font-size: 12px;
    padding: 1px 10px;
}

.dropdown-item .form-check-input{
    margin-top: 3px;
    width: 12px;
    height: 12px;
}

table thead{
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    font-size: .625rem;
    color: #95aac9;
    background-color: #f9fbfd;
    font-weight: 600;
    letter-spacing: .08em;
    text-transform: uppercase;
}

table{
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.principal-chart{
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    margin-top: 30px;
    padding: 20px 30px;
    background-color: #fff;
    height: 330px;
}

ul.dropdown-menu.dropdown-menu-end.show{
    max-height: 200px;
    overflow-y: scroll;
}

canvas.chat-conducteur{ 
    height: 9vh !important;
    width: 16vw !important;
    margin: 0 auto;
    display: block;
}

label.cursor{ width: 80%; }

@media (max-width: 1842px) { 
    canvas.chat-conducteur{
        width:13vw !important;
    }
}

@media (max-width: 1298px) { 
    canvas.chat-conducteur{
        width:10vw !important;
    }
}

@media (max-width: 650px) { 
    .nom-complet{
        font-size: 12px !important;
    }
}