<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form class="row gx-0 mb-3 frm-search-jms" #searchForm="ngForm">
                    <ul class="nav nav-tabs nav-tabs-sm card-header-tabs">
                        <li class="nav-item" data-toggle="chart" data-target="#salesChart" data-trigger="click" data-action="toggle" data-dataset="0" (click)="typeFilter = 'jour'">
                            <a class="nav-link active" href="#" data-bs-toggle="tab">
                                Jour
                            </a>
                        </li>
                        <li class="nav-item" data-toggle="chart" data-target="#salesChart" data-trigger="click" data-action="toggle" data-dataset="2" (click)="typeFilter = 'semaine'">
                            <a class="nav-link" href="#" data-bs-toggle="tab">
                                Semaine
                            </a>
                        </li>
                        <li class="nav-item" data-toggle="chart" data-target="#salesChart" data-trigger="click" data-action="toggle" data-dataset="1" (click)="typeFilter = 'mois'">
                            <a class="nav-link" href="#" data-bs-toggle="tab">
                                Mois
                            </a>
                        </li>
                    </ul>
                    <!-- *** *** -->
                    <div class="input-group mb-3">
                        <input type="date" class="form-control form-control-sm" *ngIf="typeFilter=='jour'">
                        <input type="week" class="form-control form-control-sm" *ngIf="typeFilter=='semaine'">
                        <input type="month" class="form-control form-control-sm" *ngIf="typeFilter=='mois'">
                        <div class="input-group-append">
                            <button class="btn btn-sm btn-outline-primary" type="button" (click)="changeData(typeFilter)">
                            <i class="fas fa-search"></i>
                          </button>
                        </div>
                    </div>
                    <!-- -->
                </form>
            </div>
        </div>
        <!-- ./row -->

        <div class="row">
            <div class="col-md-12">
                <p class="text-muted text-center mt-5" *ngIf="viewChartPrincipale == false">
                    Pas des données disponibles ...
                </p>
                <div class="principal-chart" [ngClass]="{'d-none':!viewChartPrincipale}">
                    <canvas id="chart-principal"></canvas>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="charts-par-vehicule mb-7 mt-4">
                    <table>
                        <thead>
                            <tr>
                                <th class="col-vehicules text-muted">
                                    &nbsp;&nbsp;Conducteurs
                                    <small class="dropdown">
                                        <div class="dropdown-ellipses dropdown-toggle float-right" role="button"
                                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i> &nbsp;
                                        </div>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <h4 class="card-header-title dropdown-item">Veuillez choisir {{maxConducteur}} conducteurs:</h4>
                                            <li class="dropdown-item" *ngFor="let conducteur of conducteurs">
                                                <input class="form-check-input check-vehicule" type="checkbox" id="conducteur_{{conducteur.id}}" 
                                                    (click)="checkConducteurs($event,conducteur)" checked="{{conducteur.checked}}">
                                                {{conducteur.prenom}} {{conducteur.nom}}
                                            </li>
                                            <strong class="text-danger dropdown-item d-none mv-error">
                                                <i class="fas fa-exclamation-triangle"></i> Le maximum est {{maxConducteur}}
                                            </strong>
                                        </ul>
                                    </small>
                                </th>
                                <th *ngFor="let chart of chartSelected" class="text-muted text-center col-chart col-chart-{{chart.index}}" [ngClass]="{'d-none' : !chart.checked}">
                                    <label (click)="remplissageChartPrincipale(chart.index)" class="cursor">
                                        {{chart.libelle}}
                                    </label>
                                    <small class="dropdown" *ngIf="chart.last">
                                        <div class="dropdown-ellipses dropdown-toggle float-right" role="button"
                                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i> &nbsp;
                                        </div>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <h4 class="card-header-title dropdown-item">Veuillez choisir
                                                {{maxChart}} type :</h4>
                                            <li class="dropdown-item" *ngFor="let chart of chartSelected">
                                                <input class="form-check-input check-vehicule" type="checkbox"
                                                    id="chart_{{chart.index}}" checked="{{chart.checked}}"
                                                    (click)="checkChart($event, chart.index)">
                                                {{chart.libelle}}
                                            </li>
                                            <strong class="text-danger dropdown-item d-none mc-error">
                                                <i class="fas fa-exclamation-triangle"></i> Le maximum est
                                                {{maxChart}}
                                            </strong>
                                        </ul>
                                    </small>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let conducteur of conducteursSelected">
                                <td class="nom-complet">
                                    {{conducteur.prenom}} {{conducteur.nom}}<br>
                                    <small class="text-muted">{{conducteur.matricule}}</small>
                                </td>
                                <td class="col-chart tchart chart-{{chart.index}}" *ngFor="let chart of chartSelected" [ngClass]="{'d-none' : !chart.checked}">
                                    <strong class="text-dark small" id="max_{{conducteur.id}}{{chart.index}}">0</strong>
                                    <canvas id="chart_conducteur_{{conducteur.id}}{{chart.index}}" class="chat-conducteur"></canvas>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot *ngIf="conducteursSelected.length == 0">
                            <tr>
                                <td colspan="5">
                                    <p class="text-center text-muted">
                                        Pas des données disponibles ...
                                    </p>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>