<div class="app">
    <div class="header-body shadow-sm p-3 mb-5 bg-white rounded">
        <div class="align-items-end">
            <h6 class="header-pretitle">
                Maintenance
            </h6>
            <h2 class="header-title">
                Détails d'information
            </h2>
        </div>
    </div> <!-- ./titre -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row align-items-center">
                    <div class="col">
                        <ul class="nav nav-tabs nav-overflow header-tabs">
                            <li class="nav-item">
                                <button class="nav-link" (click)="type='infos-vehicule'"
                                    [ngClass]="{'active': type=='infos-vehicule'}">
                                    Informations générales
                                </button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" (click)="type='taches'" [ngClass]="{'active': type=='taches'}">
                                    Maintenance préventive
                                </button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" (click)="type='historique'"
                                    [ngClass]="{'active': type=='istorique'}">
                                    Historique de maintenance
                                </button>
                            </li>
                        </ul>
                    </div>
                </div> <!-- ./align-items-center -->

                <div class="infos-vehicule" [ngClass]="{'d-none': type!='infos-vehicule'}">
                    <div class="row">
                        <div class="col-md-7">

                            <div class="card mt-3">
                                <div class="card-body row">
                                    <div class="col-md-5">
                                        <img src="https://up.uplogistix.net/doc/images_vehicule/image_vehicule_par_defaut.png" class="img-vehicule" >
                                    </div>
                                    <div class="col-md-7">
                                        <table>
                                            <tr>
                                                <td class="font-weight-bold">Matricule:</td>
                                                <td class="text-muted">{{singleVehicule.matricule}}</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">Statut:</td>
                                                <td class="text-muted">{{singleVehicule.statut}}</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">Catégorie:</td>
                                                <td class="text-muted">_</td>
                                            </tr>
                                            <tr>
                                                <td>Groupe:</td>
                                                <td class="text-muted">_</td>
                                            </tr>
                                            <tr>
                                                <td>Mise en circulation:&nbsp;&nbsp;</td>
                                                <td class="text-muted">{{singleVehicule.mise_en_circulation | date: 'yyyy-MM-dd'}}</td>
                                            </tr>
                                            <tr>
                                                <td>Date hors service:</td>
                                                <td class="text-muted">{{singleVehicule.date_hors_service | date: 'yyyy-MM-dd'}}</td>
                                            </tr>
                                            <tr>
                                                <td>Type contrat:</td>
                                                <td class="text-muted">{{singleVehicule.type_contrat}}</td>
                                            </tr>
                                            <tr>
                                                <td>Energie:</td>
                                                <td class="text-muted">{{singleVehicule.energie}}</td>
                                            </tr>
                                            <!-- *** *** -->
                                            <tr>
                                                <td>Date hors service:</td>
                                                <td class="text-muted">{{singleVehicule.date_hors_service | date: 'yyyy-MM-dd'}}</td>
                                            </tr>
                                            <tr>
                                                <td>Type contrat:</td>
                                                <td class="text-muted">{{singleVehicule.type_contrat}}</td>
                                            </tr>
                                            <tr>
                                                <td>Energie:</td>
                                                <td class="text-muted">{{singleVehicule.energie}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div><!-- ./card -->
                        </div>
                        <div class="col-md-5">
                            <div class="card mt-3">
                                <div class="card-body row">
                                    <div class="row">
                                        <canvas id="chart-cout-maintenance"
                                            style="display: block; box-sizing: border-box; height: 270px; width: 100%;">
                                        </canvas>
                                    </div><!-- ./row -->
                                </div>
                            </div><!-- ./card -->
                        </div>
                    </div>
                </div>


                <div class="taches" *ngIf="type=='taches'">
                    <div class="table-responsive row">
                        <table class="table table-sm table-nowrap card-table">
                            <thead>
                                <tr>
                                    <th>Designation</th>
                                    <th>Marque</th>
                                    <th>Référence</th>
                                    <th>Durée de vie</th>
                                    <th>L'intervention</th>
                                    <th>Terminé à</th>
                                    <th>Message</th>
                                    <th class="text-center">critique</th>
                                </tr>
                            </thead>
                            <tbody class="list">
                                <tr *ngFor="let piece of pieces">
                                    <td>{{piece.designation}}</td>
                                    <td>{{piece.marque}}</td>
                                    <td>{{piece.reference}}</td>
                                    <td>{{piece.duree_jours}} Jours | {{piece.duree_km}} Km</td>
                                    <td>{{piece.intervention}}</td>
                                    <td>{{piece.terminated_at | date:"dd/MM/yyyy HH:mm"}}</td>
                                    <td>{{piece.message}}</td>
                                    <td class="text-center">
                                        <i class="fas fa-clock text-success" style="font-size: 17px;"
                                            [ngClass]="{'text-danger': piece.critique}"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!-- ./table-responsive -->
                </div>


                <div class="historique" *ngIf="type=='historique'">
                    <form class="row form-search" #searchForm="ngForm" (ngSubmit)="searchHistorique()">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>Du:</label>
                                    <input type="date" class="form-control form-control-sm col-md-6"
                                        [(ngModel)]="search.date_debut" name="date_debut">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Au:</label>
                                    <div class="input-group col-md-6">
                                        <input type="date" class="form-control form-control-sm "
                                            [(ngModel)]="search.date_fin" name="date_fin">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-primary btn-sm" type="submit"
                                                style="margin-left: calc(var(--bs-gutter-x) *1);">
                                                <i class="fas fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- ./row -->
                        </div><!-- ./col-md-6 -->

                    </form>
                    <div class="table-responsive row">
                        <table class="table table-sm table-nowrap card-table">
                            <thead>
                                <tr>
                                    <th>Designation</th>
                                    <th>Référence</th>
                                    <th>Marque</th>
                                    <th>L'intervention</th>
                                    <th>Alerte km</th>
                                    <th class="text-center">Terminé à</th>
                                    <th class="text-center">Changé à</th>
                                    <th class="text-center">Message</th>
                                </tr>
                            </thead>
                            <tbody class="list">
                                <tr *ngFor="let his of historiques">
                                    <td>{{his.designation}}</td>
                                    <td>{{his.reference}}</td>
                                    <td>{{his.marque}}</td>
                                    <td>{{his.intervention}}</td>
                                    <td>{{his.alerte_km}}</td>
                                    <td class="text-center">{{his.terminated_at | date:"dd/MM/yyyy HH:mm"}}</td>
                                    <td class="text-center">{{his.changed_at != "-"? (his.changed_at | date:"dd/MM/yyyy HH:mm") : '-'}}</td>
                                    <td class="text-center">
                                        {{his.message}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div><!-- ./historique -->



            </div>
        </div>
    </div>


</div><!-- ./app -->