dt {
    float: left;
    margin-right: 10%;
    max-width: 40%;
    font-weight: bold;
}
  
dd {
    color: grey;
    margin-left: 30%;
    margin-bottom: .5em;
}
  
dd::after {
    content: " ";
    display: block;
    clear: left;
} 