.card{
    box-shadow: 0 0.46875rem 2.1875rem rgb(4 9 20 / 3%), 0 0.9375rem 1.40625rem rgb(4 9 20 / 3%), 0 0.25rem 0.53125rem rgb(4 9 20 / 5%), 0 0.125rem 0.1875rem rgb(4 9 20 / 3%) !important;
}

.card-header{
    /* height: 35px;
    border-bottom: none;
    padding-top: 5px !important;
    padding-bottom: 5px !important; */
    display: inline-table;
}

ul li {
    display: inline-block;
    vertical-align: top;
    padding: 10px 20px;
    cursor: pointer;
    position: relative;
}

canvas#chart_score{
    height: 220px !important;
}

/*** *** *** ***/

.card {
    border: 0;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 6px;
    color: #333;
    background: #fff;
    width: 100%;

    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
}