<section class="carburant-v">
    <div class="header-body shadow-sm p-3 mb-5 bg-white rounded">
        <div class="align-items-end">
            <h6 class="header-pretitle">
                Gestion des véhicules
            </h6>
            <h2 class="header-title">
                Historiques de compteur
            </h2>
        </div>
    </div>
    <!-- fin titre -->
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <ul class="nav nav-tabs nav-overflow header-tabs">
                    <li class="nav-item">
                        <a [routerLink]="['/vehicules/compteurs/page/', 1]">
                            <button class="nav-link" [ngClass]="{'active': type=='saisi-manuel'}" (click)="type='saisi-manuel'">Saisi manuel</button>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="['/vehicules/gps-compteurs/find/page', 1]">
                            <button class="nav-link" [ngClass]="{'active': type=='releve-automatique'}" (click)="type='releve-automatique'">
                               Relevé automatique
                            </button>
                        </a>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" [ngClass]="{'active': type=='graphe'}" (click)="type='graphe'">L’évolution</button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="saisi-manuel mb-5" *ngIf="type=='saisi-manuel'">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div *ngIf="message" class="alert alert-success" role="alert">
                            {{message}}
                            <button type="button" class="btn-close pb-0 mp-0 text-white" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </div>
                    <button type="button" class="btn btn-outline-primary mb-2" data-bs-toggle="modal" data-bs-target="#modal-edit" style="float:right" (click)="clear()">
                        <i class="fa-solid fa-plus"></i>
                    </button><br><br><br>
                    <form class="row form-search" #searchForm="ngForm" (ngSubmit)="searchCompteurs(searchForm.value)">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="titre">Véhicules</label>
                                <select class="form-select" [(ngModel)]="search.vehicule_id" name="vehicule_id">
                                    <option value=null disabled>Veuillez choisir ...</option>
                                    <option *ngFor="let vehicule of vehicules_sans_balise" value="{{vehicule.id}}">
                                        {{vehicule.matricule}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="date_debut">Date début</label>
                                <input type="date" [(ngModel)]="search.date_debut" name="date_debut" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="date_fin">Date fin</label>
                                <div class="input-group">
                                    <input type="date" [(ngModel)]="search.date_fin" name="date_fin" class="form-control">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-outline-primary" style="margin-left: 12px;">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                    <div class="table-responsive row">
                        <table class="table table-sm table-nowrap card-table">
                            <thead>
                                <tr>
                                    <th>Matricule</th>
                                    <th>Ancien compteur Km</th>
                                    <th>Nouveau compteur Km</th>
                                    <th>Kilométrage parcouru Km</th>
                                    <th>Date d'opération</th>
                                    <th width="100">Options</th>
                                </tr>
                            </thead>
                            <tbody class="list">
                                <tr *ngFor="let compteur of compteurs['records']">
                                    <td class="matricule">{{compteur.matricule}}</td>
                                    <td class="ancien-compteur">
                                        <strong>{{compteur.ancien_compteur.toFixed(2)}}</strong>
                                    </td>
                                    <td class="nouveau-compteur">
                                        <strong>{{compteur.compteur.toFixed(2)}}</strong>
                                    </td>
                                    <td class="kilométrage-parcouru text-primary font-weight-bold">
                                        <!--strong>{{compteur.cumule_distance}}</strong-->
                                        <strong>{{compteur.distance.toFixed(2)}}</strong>
                                    </td>
                                    <td class="date-operation">
                                        {{compteur.date_operation | date: 'dd/MM/yyyy HH:mm' }}
                                    </td>
                                    <td>
                                        <button type="button" ng-show="" class="btn btn-operation" data-bs-toggle="modal" data-bs-target="#modal-edit" (click)="getCompteur(compteur.id)">
                                            <i class="fa-solid fa-pen"></i>
                                        </button> &nbsp;
                                        <button type="button" class="btn btn-operation" data-bs-toggle="modal" data-bs-target="#modal-delete" (click)="singleCompteur.id=compteur.id">
                                            <i _ngcontent-hhv-c59="" class="fa-solid fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr *ngIf="compteurs.total_records == 0 || compteurs.total_records == null">
                                    <td colspan="5">
                                        <div class="text-muted pt-3 pb-3 bg-white" [ngClass]="{'d-none':mychart}">
                                            <p class="text-center">Veuillez sélectionner un véhicule ...</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr *ngIf="compteurs.total_records > 0">
                                    <td colspan="6">
                                        <h3 class="float-right text-danger font-weight-normal">
                                            Total distance: <span>{{total.manuel?.toFixed(2)}} <small>Km</small></span>
                                        </h3>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <nav aria-label="Page navigation" class="pag-tab col-md-12 navigation" *ngIf="compteurs.total_records && compteurs.total_pages>1">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#!" [routerLink]="['/vehicules/compteurs/page/', compteurs.current_page-1]" [ngClass]="{'_disabled':compteurs.current_page==1}">
                                Précédent
                            </a>
                        </li>
                        <li class="page-item" *ngFor="let p of [].constructor(compteurs.total_pages); let i=index" [ngClass]="{'active':compteurs.current_page==i+1}">
                            <a class="page-link" [routerLink]="['/vehicules/compteurs/page/', i+1]">{{i+1}}</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" [routerLink]="['/vehicules/compteurs/page/', compteurs.current_page+1]" [ngClass]="{'_disabled':compteurs.current_page==compteurs.total_pages}">
                                Suivant
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- *** fin man *** -->
        <div class="releve-automatique mb-5" *ngIf="type=='releve-automatique'">
            <form class="row form-search" #searchForm="ngForm" (ngSubmit)="searchCompteursAutomatique(searchForm.value)">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="titre">
                            Véhicules <strong class="text-danger" *ngIf="!search.vehicule_id">*</strong>
                        </label>
                        <select class="form-select" [(ngModel)]="search.vehicule_id" name="vehicule_id">
                            <option value=null disabled>Veuillez choisir ...</option>
                            <option *ngFor="let vehicule of vehicules_avec_balise" value="{{vehicule.id}}">
                                {{vehicule.matricule}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="date_debut">Date début</label>
                        <input type="date" [(ngModel)]="search.date_debut" name="date_debut" class="form-control">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="date_fin">Date fin</label>
                        <div class="input-group">
                            <input type="date" [(ngModel)]="search.date_fin" name="date_fin" class="form-control">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-outline-primary" style="margin-left: 12px;">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="table-responsive row">
                <table class="table table-sm table-nowrap card-table">
                    <thead>
                        <tr>
                            <th>Matricule</th>
                            <th>Ancien compteur Km</th>
                            <th>Nouveau compteur Km</th>
                            <th>Kilométrage parcouru Km</th>
                            <th>Date d'opération  {{compteurs_gps.total_records}}</th>
                        </tr>
                    </thead>
                    <tbody class="list">
                        <tr *ngFor="let c_gps of compteurs_gps['records']">
                            <td class="matricule">{{c_gps.matricule}}</td>
                            <td class="ancien-compteur">
                                <strong>{{c_gps.ancien_compteur.toFixed(3)}}</strong>
                            </td>
                            <td class="nouveau-compteur">
                                <strong>{{c_gps.nouveau_compteur.toFixed(3)}}</strong><br>
                            </td>
                            <td class="kilométrage-parcouru text-primary">
                                <strong>{{c_gps.distance.toFixed(3)}}</strong>
                            </td>
                            <td>{{c_gps.date_heure | date: 'dd/MM/yyyy HH:mm' }}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr *ngIf="compteurs_gps.total_records == 0 || compteurs_gps.total_records==null">
                            <td colspan="5">
                                <div class="text-muted pt-3 pb-3 bg-white" [ngClass]="{'d-none':mychart}">
                                    <p class="text-center">Veuillez sélectionner un véhicule ...</p>
                                </div>
                            </td>
                        </tr>
                        <tr *ngIf="compteurs_gps?.total_records > 0">
                            <td colspan="6">
                                <h3 class="float-right text-danger font-weight-normal">
                                    Total distance: <span>{{total.automatique?.toFixed(2)}} <small>Km</small></span>
                                </h3>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <nav aria-label="Page navigation" class="pag-tab col-md-12 navigation" *ngIf="compteurs_gps.total_records && compteurs_gps.total_pages>1">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#!" [routerLink]="['/vehicules/gps-compteurs/find/page', compteurs_gps.current_page-1]" [ngClass]="{'_disabled':compteurs_gps.current_page==1}">
                                Précédent
                            </a>
                        </li>
                        <li class="page-item" *ngFor="let p of [].constructor(compteurs_gps.total_pages); let i=index" [ngClass]="{'active':compteurs_gps.current_page==i+1}">
                            <a class="page-link" [routerLink]="['/vehicules/gps-compteurs/find/page', i+1]">{{i+1}}</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" [routerLink]="['/vehicules/gps-compteurs/find/page', compteurs_gps.current_page+1]" [ngClass]="{'_disabled':compteurs_gps.current_page==compteurs.total_pages}">
                                Suivant
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- fin pagination -->
            </div>
        </div>
        <!-- *** fin aut *** -->
        <div class="graphe mb-5" [ngClass]="{'d-none':type!='graphe'}">
            <form class="row form-search" #searchForm="ngForm" (ngSubmit)="generateChart(searchForm.value)">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="titre">
                            Véhicules
                            <strong class="text-danger" *ngIf="!search.vehicule_id">*</strong>
                        </label>
                        <select class="form-select" [(ngModel)]="search.vehicule_id" name="vehicule_id">
                            <option value=null disabled>Veuillez choisir ...</option>
                            <option *ngFor="let vehicule of vehicules" value="{{vehicule.id}}">
                                {{vehicule.matricule}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="date_debut">Date début</label>
                        <input type="date" [(ngModel)]="search.date_debut" name="date_debut" class="form-control">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="date_fin">Date fin</label>
                        <div class="input-group">
                            <input type="date" [(ngModel)]="search.date_fin" name="date_fin" class="form-control">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-outline-primary" style="margin-left: 12px;">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="text-muted pt-3 pb-3 bg-white shadow-sm row" [ngClass]="{'d-none':mychart}">
                <p class="text-center">Veuillez sélectionner un véhicule ...</p>
            </div>
            <div class="row bg-white pt-4" [ngClass]="{'d-none':!mychart}">
                <canvas id="chart-compteurs"></canvas>
            </div>
        </div>

        <!-- Modal L'ayout & modification -->
        <div class="modal fade" id="modal-edit" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-card card" data-list=''>
                        <div class="card-header">
                            <h4 class="card-header-title" id="exampleModalCenterTitle">Compteur de Véhicule</h4>
                            <button type="button" class="btn-close pb-0 mp-0" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="card-body">
                            <form #compteurForm="ngForm" (ngSubmit)="update(compteurForm.value)">
                                <div class="frm-compteur">
                                    <input type="hidden" [(ngModel)]="singleCompteur.id" name="id" value="singleCompteur.id">
                                    <div class="form-group">
                                        <label for="titre" class="form-label">
                                            Véhicule
                                            <strong class="text-danger" *ngIf="!singleCompteur.vehicule_id">*</strong>
                                        </label>
                                        <select class="form-select form-select-sm" [(ngModel)]="singleCompteur.vehicule_id" name="vehicule_id" required>
                                            <option value=null disabled>Veuillez choisir...</option>
                                            <option *ngFor="let vehicule of vehicules_sans_balise"
                                                value="{{vehicule.id}}">{{vehicule.matricule}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="qtn" class="form-label">
                                            Date d'operation
                                            <strong class="text-danger"
                                                *ngIf="!singleCompteur.date_operation">*</strong>
                                        </label>
                                        <input type="datetime-local" class="form-control form-control-sm" [ngModel]="singleCompteur.date_operation | date:'yyyy-MM-ddTHH:mm'" name="date_operation" (ngModelChange)="singleCompteur.date_operation = $event" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="nom" class="form-label">
                                            Compteur Km
                                            <strong class="text-danger" *ngIf="!singleCompteur.compteur">*</strong>
                                        </label>
                                        <input type="number" class="form-control form-control-sm" placeholder="Compteur" [(ngModel)]="singleCompteur.compteur" name="compteur" required>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <small class="text-danger">*: Ces champs sont obligatoires.</small>
                                    <button type="submit" class="btn btn-success mb-2 float-right" [disabled]="!compteurForm.valid">Enregister</button>
                                    <button type="button" class="btn btn-secondary float-right" data-bs-dismiss="modal" style="margin-right: 5px;">Annuler</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal de confirmation -->
        <div class="modal fade" id="modal-delete" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-confirm">
                <div class="modal-content">
                    <div class="modal-header flex-column">
                        <div class="icon-box">
                            <i class="material-icons">
                                <i class="fa-solid fa-x"></i>
                            </i>
                        </div>
                        <h4 class="modal-title w-100">Êtes-vous sûr?</h4>
                        <button type="button" class="close btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Voulez-vous vraiment supprimer ces enregistrements ? Ce processus ne peut pas être annulé.
                        </p>
                        <br>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" data-bs-dismiss="modal" aria-label="Close">Annuler</button>
                        <button type="button" class="btn btn-danger" (click)="delete(singleCompteur.id)">Supprimer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>