.main-content {
    margin-left: 253px;
}

.logo-name {
    font-weight: 500;
    margin-left: 10px;
}

._disabled {
    pointer-events: none;
    opacity: 0.7;
}

.table-responsive {
    box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px, rgb(0 0 0 / 30%) 0px 7px 13px -3px, rgb(0 0 0 / 20%) 0px -3px 0px inset !important;
    background-color: #fff;
    border-radius: 4px;
}

select:after {
    content: "\e92e";
    display: block;
    font-family: Feather;
    margin-left: auto;
    transition: transform .2s;
}


/*** *** *** modal-confirm *** *** ***/

.modal-confirm {
    color: #636363;
    width: 400px;
}

.modal-confirm .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 14px;
}

.modal-confirm .modal-header {
    border-bottom: none;
    position: relative;
}

.modal-confirm h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -10px;
}

.modal-confirm .close {
    position: absolute;
    top: 10px;
    right: 4px;
    font-size: 40px;
}

.modal-confirm .modal-body {
    color: #999;
}

.modal-confirm .modal-footer {
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
    padding: 10px 15px 25px;
}

.modal-confirm .modal-footer a {
    color: #999;
}

.modal-confirm .icon-box {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    z-index: 9;
    text-align: center;
    border: 3px solid #f15e5e;
}

.modal-confirm .icon-box i {
    color: #f15e5e;
    font-size: 46px;
    display: inline-block;
    margin-top: 7px;
}

.modal-confirm .btn,
.modal-confirm .btn:active {
    color: #fff;
    border-radius: 4px;
    background: #60c7c1;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    min-width: 120px;
    border: none;
    min-height: 40px;
    border-radius: 3px;
    margin: 0 5px;
}

.modal-confirm .btn-secondary {
    background: #c1c1c1;
}

.modal-confirm .btn-secondary:hover,
.modal-confirm .btn-secondary:focus {
    background: #a8a8a8;
}

.modal-confirm .btn-danger {
    background: #f15e5e;
}

.modal-confirm .btn-danger:hover,
.modal-confirm .btn-danger:focus {
    background: #ee3535;
}

.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}


/*
*  scroll
*/

::-webkit-scrollbar {
    width: 7px;
    border-radius: 7px;
    height: 4px;
}

::-webkit-scrollbar-track {
    border: 1px solid #ffffff;
    /* box-shadow:inset 0 0 2.5px 2px rgba(0,0,0,0.5); */
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #151D3B;
    border-radius: 5px;
}


/*** *** fin scroll *** ***/

.pagination {
    width: fit-content;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px !important;
}

.btn-float {
    float: right !important;
    margin-bottom: 7px;
    margin-left: 10px;
}

form {
    display: flow-root !important;
}

.btn-ajouter {
    float: right !important;
}

.modal-card .card-body {
    max-height: fit-content !important;
}

.navbar-vertical .navbar-nav .nav-link[data-bs-toggle=collapse]:after {
    content: "" !important;
    background-image: url('../img/icones/icon-angle-down.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 6px;
    width: 10px;
    margin-top: 4px;
}

.alert {
    width: 80%;
    display: block;
    margin: auto;
    margin-bottom: 15px;
}

.header-tabs .nav-link {
    padding-bottom: 0.5rem !important;
    padding-top: 0.5rem !important;
}

._red {
    color: #721c24 !important;
    background-color: #f8d7da !important;
    border-color: #f5c6cb !important;
}

._active {
    color: #155724 !important;
    background-color: #d4edda !important;
    border-color: #c3e6cb !important;
    font-weight: 400;
    box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px, rgb(0 0 0 / 30%) 0px 1px 3px -1px;
}

._red strong {
    color: #721c24 !important;
}

._active strong {
    color: #155724 !important;
}

._shadow {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 8px;
}

#exampleModalCenterTitle {
    text-transform: inherit;
}

.table-sm>:not(caption)>*>* {
    padding: 0.3rem !important;
}

.table-responsive {
    padding-bottom: 18px !important;
}

.pagination {
    box-shadow: rgb(50 50 93 / 25%) 0px 6px 12px -2px, rgb(0 0 0 / 30%) 0px 3px 7px -3px !important;
}

.btn-operation {
    padding: 0.3rem 0.5rem !important;
}

.btn-operation:hover {
    background-color: #2c7be4 !important;
    color: #fff !important;
    padding: 0.3rem 0.5rem !important;
}

.form-search {
    display: flex !important;
    background-color: #fff;
    padding-top: 12px;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
    border-radius: 4px;
}

.form-search .btn-search {
    width: 55px;
    margin-left: 10%;
    height: 40px;
    margin-top: 22px;
    padding: 0;
}

.table-responsive {
    padding: 0 !important;
}

._item {
    cursor: pointer !important;
}

button.nav-link.active {
    /* box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px; */
    background-color: #fff !important;
    padding: 5px 10px;
}

.center-horizontally-vertically{
    position: absolute !important;
    left: 50% !important;
    top: 50% !important;
    -webkit-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
}

.navbar-vertical.navbar-expand-md .navbar-nav .nav-link.active{
    color: #2c7be5 !important;
    background: #edfdf6;
    font-weight: 500;
}

@media (max-width: 767px) { 
    .form-search .btn-search{
       width: 100%;
       margin: 0 0 20px 0;
    }
    .main-content{
        margin-left: 0 !important;
    }

    #sidebar{
      display: block !important;
    }
}

@media (max-width: 575px) { 
    .container{
        width: 95%;
    }
}

.nav-tabs .nav-link{
    width: max-content !important;
}

ul.nav.nav-tabs.nav-overflow.header-tabs{
    border-radius: 5px;
    margin-bottom: 15px; 
}

.nav-tabs {
    border-bottom: 1px solid #e3ebf6;
}

.float-right{
    float: right !important;
}

.cursor{
    cursor: pointer !important;
}

.form-check-input{
    border: 1.2px solid #3a7ad7 !important;
    background-color: #fff;
    border-radius: 0 !important;
}

/*** *** ** ***/
.invalid {
	/*background:url(../img/icones/invalid.png) no-repeat 0 50%;*/
	padding-left:22px;
	line-height:24px;
	color:#ec3f41;
}
.valid {
	/*background:url(../img/icones/valid.png) no-repeat 0 50%;*/
	padding-left:22px;
	line-height:24px;
	color:#3a7d34;
}

.container-fluid{
    width: 95%;
}

button.nav-link.active{ background-color: transparent !important; }
