<div class="header-body shadow-sm p-3 mb-5 bg-white rounded">
    <div class="align-items-end">
        <h6 class="header-pretitle">
            Géolocalisation
        </h6>
        <h2 class="header-title">
            Dernière position connue
        </h2>
    </div>
</div>
<div class="container-fluid">
    <div class="row form-search row ng-untouched ng-pristine ng-valid pb-3">
            <div class="col-md-3 col-xs-12">
                <div class="form-inline">
                    <label for="vehicules">Véhicule :</label>
                    <select class="form-select form-select-sm" name="vehicules" id="vehicules"
                        (change)="changeVehicule($event)">
                        <option value="">Tous</option>
                        <option value="{{ vehicule.id }}" *ngFor="let vehicule of vehicules">
                            {{ vehicule.matricule }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-3"></div>
            <div class="col-md-6 col-xs-12">
                <h6 class="float-end" style="margin-top: 30px;">Dernière position connus ({{currDate | date: "dd/MM/yyyy HH:mm:ss"}})</h6>
            </div>
    </div><!-- fin search-->
    
    <div class="row">
        <div class="map-container">
            <div class="map-frame">
                <div id="map" style="border-radius: 10px;"></div>
            </div>
        </div>
    </div>
</div>