nav {
    background-color: #fff;
    border-color: #e6ebee;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

nav ul li a {
    color: #12263f;
}

.navbar-vertical.navbar-expand-md .navbar-user {
    border: none;
}

img.navbar-brand-img.mx-auto {
    margin-left: -27px !important;
}

.titre {
    margin-left: 27px;
    margin-top: 20px;
    color: #066db5 !important;
}

.navbar-bottom{
    position:absolute;
    bottom:30px;
    left:0;
}