<section class="app">
    <div class="header-body shadow-sm p-3 mb-5 bg-white rounded">
        <div class="align-items-end">
            <h6 class="header-pretitle">
                Stock
            </h6>
            <h2 class="header-title">
                Bon réception
            </h2>
        </div>
    </div><!-- ./titre-->

    <div class="container-fluid">
        <div class="row">
            <div class="validation">
                <div style="width: 200px;" class="float-right">
                    <img src="assets/img/validation.png" *ngIf="singleBonR.validated_at && singleBonR.validated_by">
                    <span class="date-validation" *ngIf="singleBonR.validated_at && singleBonR.validated_by">
                        Le {{singleBonR.validated_at | date: "dd/MM/yyyy HH:mm:ss"}}
                    </span>
                </div>
            </div><!-- ./validation -->

            <form class="mb-4 shadow p-3 mb-5 bg-white rounded frm-client" #roleForm="ngForm">
                <div *ngIf="message" class="alert alert-success" role="alert">
                    {{message}}
                    <button type="button" class="btn-close pb-0 mp-0" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <div class="row">
                    <form #bonRForm="ngForm" (ngSubmit)="updateBonR(bonRForm.value)" class="frm-br">
                        <input type="hidden" name="id"  [(ngModel)]="singleBonR.id">
                        <div class="form-group">
                            <label class="form-label">
                                Numéro
                            </label>
                            <input class="form-control" type="text" name="numero" [(ngModel)]="singleBonR.numero" disabled>
                        </div>
                        <div class="form-group">
                            <label class="form-label">
                                Fournisseur
                                <strong class="text-danger" *ngIf="!singleBonR.fournisseur_id">*</strong>
                            </label>
                            <select class="form-select" name="fournisseur_id"  [(ngModel)]="singleBonR.fournisseur_id" required>
                                <option value=null disabled>Veuillez choisir...</option>
                                <option *ngFor="let fournisseur of fournisseurs" [value]="fournisseur.id">{{fournisseur.raison_sociale}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-label">
                                Entrepôt
                                <strong class="text-danger" *ngIf="!singleBonR.entrepot_id">*</strong>
                            </label>
                            <select class="form-select" name="entrepot_id"  [(ngModel)]="singleBonR.entrepot_id" required>
                                <option value=null disabled>Veuillez choisir...</option>
                                <option *ngFor="let entrepot of entrepots" [value]="entrepot.id">{{entrepot.nom}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Commentaire</label>
                            <textarea class="form-control" rows="2" name="commentaire" [(ngModel)]="singleBonR.commentaire"></textarea>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary mb-2 mt-4 float-right" [disabled]="!bonRForm.valid || singleBonR.validated_at">
                                <i class="fa-solid fa-floppy-disk"></i>
                            </button>
                            <button type="button" class="btn btn-success mb-2 mt-4 float-right" [disabled]="singleBonR.validated_at" (click)="valide(singleBonR.id)" style="margin-right: 5px;">
                                <i class="fa-solid fa-check"></i>
                            </button>
                            <button type="button" class="btn btn-secondary mb-2 mt-4 float-right" style="margin-right: 5px;" (click)="fermer()">
                                <i class="fas fa-undo"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <hr class="mt-4 mb-4">
                <small class="text-danger">*: Ce champ est obligatoire.</small>
            </form>
        </div>

        <div class="row">
            <div class="col-md-12 shadow p-3 mb-5 bg-white rounded">

                <div class="header md-5">
                    <div class="header-body">
                        <h2 class="header-title">Pièces</h2>
                    </div>
                </div><!-- ./header -->

                <div *ngIf="!singleBonR.validated_at"> 
                    <button 
                       class="btn btn-sm btn-outline-primary float-right align-middle" 
                       data-bs-toggle="modal" data-bs-target="#modal-edit" style="width: 60px;"
                       (click)="cleareDetailBR()">
                       <i class="fa-solid fa-plus"></i>
                    </button><br><br>
                </div><!-- ./btn-ajouter -->

                <table class="table table-sm table-nowrap card-table">
                    <thead>
                        <tr>
                            <th>Pièces</th>
                            <th width="180">Catégorie</th>
                            <th width="160">Marque</th>
                            <th width="100" class="text-center">Quantité</th>
                            <th width="100" class="text-center">Prix unitaire</th>
                            <th width="100" class="text-center">Total</th>
                            <th width="75" *ngIf="!singleBonR.validated_at">Options</th>
                        </tr>
                    </thead>
                    <tbody class="list">
                        <tr *ngFor="let dbr of detailsBRs">
                            <td class="piece">{{dbr.designation}}</td>
                            <td class="categorie">{{dbr.categorie}}</td>
                            <td class="marque">{{dbr.marque}}</td>
                            <td class="qte text-center">{{dbr.qte}} </td>
                            <td class="prix_unitaire text-center">{{dbr.prix_unitaire}}</td>
                            <td class="total text-center">{{dbr.total}}</td>
                            <td *ngIf="!singleBonR.validated_at">
                                <button type="button" class="btn btn-operation" data-bs-toggle="modal" data-bs-target="#modal-edit" (click)="getDetailBrById(dbr.id)">
                                    <i class="fa-solid fa-pen"></i>
                                </button> &nbsp;
                                <button type="button" class="btn btn-operation" data-bs-toggle="modal" data-bs-target="#modal-delete" (click)="singleDetailBR.id=dbr.id">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
            </div>
        </div>
    </div><!-- ./container-fluid -->
    
    <div class="modal fade" id="modal-edit" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-card card" data-list=''>
                    <div class="card-header">
                        <h4 class="card-header-title" id="exampleModalCenterTitle">
                            Détail bon réception
                        </h4>
                        <button type="button" class="btn-close pb-0 mp-0" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="card-body">
                        <form #detailsBonRForm="ngForm" (ngSubmit)="updateDetailsBonR(detailsBonRForm.value)">
                            <input type="hidden" name="id" [(ngModel)]="singleDetailBR.id">
                            <input type="hidden" name="bon_reception_id" [(ngModel)]="singleDetailBR.bon_reception_id">
                            <div class="form-group">
                                <label class="form-label">Catégorie de pièce</label>
                                <select class="form-select form-select-sm" (change)="changeCategorie($event)" name="categorie_id" [(ngModel)]="singleDetailBR.categorie_id" required>
                                    <option value=null disabled>Veuillez choisir...</option>
                                    <option *ngFor="let cat of categorie_pieces" [value]="cat.id">{{cat.nom}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Pieces</label>
                                <select class="form-select form-select-sm" name="piece_id" [(ngModel)]="singleDetailBR.piece_id" required>
                                    <option value=null disabled>Veuillez choisir...</option>
                                    <option *ngFor="let piece of pieces" [value]="piece.id">{{piece.designation}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Quantité</label>
                                <input type="number" class="form-control form-control-sm" name="qte" [(ngModel)]="singleDetailBR.qte" placeholder="Quantité">
                            </div>
                            <div class="form-group">
                                <label class="form-label">Prix unitaire</label>
                                <input type="number" class="form-control form-control-sm" name="prix_unitaire" [(ngModel)]="singleDetailBR.prix_unitaire" placeholder="Prix unitaire">
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary mb-2 mt-4 float-right">Enregister</button>
                                <button type="button" class="btn btn-secondary mb-2 mt-4 float-right" data-bs-dismiss="modal" style="margin-right: 5px;">Annuler</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- ./modal -->

    <div class="modal fade" id="modal-delete" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header flex-column">
                    <div class="icon-box">
                        <i class="material-icons">
                            <i class="fa-solid fa-x"></i>
                        </i>
                    </div>
                    <h4 class="modal-title w-100">Êtes-vous sûr?</h4>
                    <button type="button" class="close btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Voulez-vous vraiment supprimer ces enregistrements ? Ce processus ne peut pas être annulé.</p>
                    <br>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" data-bs-dismiss="modal" aria-label="Close">Annuler</button>
                    <button type="button" class="btn btn-danger" (click)="deleteDetailBR(singleDetailBR.id)">Supprimer</button>
                </div>
            </div>
        </div>
    </div><!-- ./modal -->

</section><!-- ./app -->