<div class="row">
    <div class="col-md-12">
        <div class="col-auto">
            <!-- Dropdown -->
            <div class="dropdown float-right">
                <!-- Toggle -->
                <button class="btn btn-primary shadow" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">
                    <i class="fa-solid fa-arrow-down-wide-short"></i> Fiche de ...
                </button>
                <!-- Menu -->
                <form class="dropdown-menu dropdown-menu-end dropdown-menu-card">
                    <div class="card-body">
                        <!-- List group -->
                        <div class="list-group list-group-flush mt-n4 mb-4">
                            <div class="list-group-item">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="vehicule_id">Véhicules</label>
                                            <select class="form-select form-select-sm" id="vehicule_id">
                                                <option>Veuillez choisir ...</option>
                                                <option>conducteur 1</option>
                                                <option>conducteur 2</option>
                                                <option>conducteur 3</option>
                                                <option>conducteur 4</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <!-- / .row -->
                            </div>
                            <div class="list-group-item">
                                <div class="row">
                                    <div class="col-md-12">
                                        <form class="row gx-0 mb-3 frm-search-jms" #searchForm="ngForm">
                                            <ul class="nav nav-tabs nav-tabs-sm card-header-tabs mb-3">
                                                <li class="nav-item" data-toggle="chart" data-target="#salesChart" data-trigger="click" data-action="toggle" data-dataset="0" (click)="changeType('jour')">
                                                    <a class="nav-link active" href="#" data-bs-toggle="tab">
                                                        Jour
                                                    </a>
                                                </li>
                                                <li class="nav-item" data-toggle="chart" data-target="#salesChart" data-trigger="click" data-action="toggle" data-dataset="2" (click)="changeType('periode')">
                                                    <a class="nav-link" href="#" data-bs-toggle="tab">
                                                        Période
                                                    </a>
                                                </li>
                                            </ul>
                                            <!-- *** *** -->
                                            <div class="input-group">
                                                <!-- jour -->
                                                <input type="date" class="form-control form-control-sm" [(ngModel)]="filter.date_debut" name="date_debut" *ngIf="typeFilter=='jour'">
                                                <!-- periode -->
                                                <input type="date" class="form-control form-control-sm" [(ngModel)]="filter.date_debut" name="date_debut" *ngIf="typeFilter=='periode'">
                                                <input type="date" class="form-control form-control-sm" [(ngModel)]="filter.date_fin" name="date_fin" *ngIf="typeFilter=='periode'">
                                            </div>
                                            <!-- -->
                                        </form>
                                    </div>
                                </div>
                                <!-- / .row -->
                            </div>
                        </div>
                        <!-- Button -->
                        <button class="btn w-100 btn-outline-primary" type="submit">
                            Appliquer le filtre
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <!-- ./col-auto -->
    </div>
</div>
<!-- ./row -->
<div class="row" style="padding: 0 10px;">
    <div class="main-card mb-3 card">
        <div class="no-gutters row">
            <div class="col-md-6 col-xl-3">
                <div class="widget-content">
                    <div class="widget-content-wrapper">
                        <div class="widget-content-right ml-0 mr-3">
                            <div class="widget-numbers text-success">5</div>
                        </div>
                        <div class="widget-content-left">
                            <div class="widget-heading">Trajets</div>
                            <!-- <div class="widget-subheading">Lorem ipsum dolor</div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <div class="widget-content">
                    <div class="widget-content-wrapper">
                        <div class="widget-content-right ml-0 mr-3">
                            <div class="widget-numbers text-warning">50 Km</div>
                        </div>
                        <div class="widget-content-left">
                            <div class="widget-heading">Distance parcourue</div>
                            <!-- <div class="widget-subheading">Lorem ipsum dolor</div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <div class="widget-content">
                    <div class="widget-content-wrapper">
                        <div class="widget-content-right ml-0 mr-3">
                            <div class="widget-numbers text-danger">10:14:00</div>
                        </div>
                        <div class="widget-content-left">
                            <div class="widget-heading">Durée de conduite</div>
                            <!-- <div class="widget-subheading">Lorem ipsum dolor</div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-md-block col-md-6 col-xl-3">
                <div class="widget-content">
                    <div class="widget-content-wrapper">
                        <div class="widget-content-right ml-0 mr-3">
                            <div class="widget-numbers text-primary">10</div>
                        </div>
                        <div class="widget-content-left">
                            <div class="widget-heading">Excède vitesse</div>
                            <!-- <div class="widget-subheading">Lorem ipsum dolor</div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ./ -->
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <!-- <h4 class="card-header-title">
                </h4> -->
            </div>
            <div class="card-body">
                <canvas id="chart_test" style="height: 150px;"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-header-title">
                        Emission Co2
                    </h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <circle-progress style="display: block; margin:auto;" [percent]="50" [space]="-10" [radius]="50" [animation]="true" [animationDuration]="1000" [showSubtitle]="false">
                            </circle-progress>
                        </div>
                        <!-- <div class="col-md-6">
                            <circle-progress class="text-center" [percent]="50" [space]="-10" [radius]="50" [animation]="true" [animationDuration]="1000" [showSubtitle]="false">
                            </circle-progress>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- ./col-md-12 -->
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-header-title">
                        ...
                    </h4>
                </div>
                <div class="card-body">
                    <div>
                        <circle-progress [percent]="50" [space]="-10" [radius]="52" [innerStrokeWidth]="7" [outerStrokeColor]="'#4882c2'" [innerStrokeColor]="'rgba(72, 130, 194, 0.3)'" [animation]="true" [animationDuration]="1000" [showSubtitle]="false">
                        </circle-progress>
                        <!-- <circle-progress [percent]="70" [space]="-10" [radius]="50" [innerStrokeWidth]="5" [outerStrokeColor]="'#4882c2'" [innerStrokeColor]="'rgba(72, 130, 194, 0.3)'" [animation]="true" [animationDuration]="1000" [showSubtitle]="false">
                        </circle-progress> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- ./col-md-12 -->
    </div>
    <!-- ./col-md-3 -->
    <div class="col-md-3">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-header-title">
                        ...
                    </h4>
                </div>
                <div class="card-body">
                    <div>
                        <circle-progress [percent]="50" [space]="-10" [radius]="50" [animation]="true" [animationDuration]="1000" [outerStrokeColor]="'#dd0417'" [innerStrokeColor]="'rgba(221, 4, 23, 0.3)'" [showSubtitle]="false">
                        </circle-progress>
                        <!-- <circle-progress [percent]="50" [space]="-10" [radius]="50" [animation]="true" [animationDuration]="1000" [outerStrokeColor]="'#dd0417'" [innerStrokeColor]="'rgba(221, 4, 23, 0.3)'" [showSubtitle]="false">
                        </circle-progress> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- ./col-md-12 -->
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-header-title">
                        ...
                    </h4>
                </div>
                <div class="card-body">
                    <div>
                        <circle-progress [percent]="50" [space]="-10" [radius]="50" [animation]="true" [animationDuration]="1000" [outerStrokeColor]="'#ec6708'" [innerStrokeColor]="'rgba(236, 103, 8, 0.3)'" [showSubtitle]="false">
                        </circle-progress>
                        <!-- <circle-progress [percent]="70" [space]="-10" [radius]="50" [innerStrokeWidth]="5" [outerStrokeColor]="'#ec6708'" [innerStrokeColor]="'rgba(236, 103, 8, 0.3)'" [animation]="true" [animationDuration]="1000" [showSubtitle]="false">
                        </circle-progress> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- ./col-md-12 -->
    </div>
    <!-- ./col-md-3 -->
</div>
<!-- ./ -->