.map-container {
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .map-frame {
    height: 100%;
  }
  
  #map {
    height: 100%;
    width: 100%;
    position: fixed !important;
  }
  
  
  .legend {
    width: 250px;
    font-size: 16px;
    color: #333333;
    font-family: "Open Sans", Helvetica, sans-serif;
    padding: 10px 14px;
    background-color: rgba(69, 102, 139, 0.8)!important;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    border: 1px solid grey; 
    height: 100%;
  }
  .legend img {
    width: 200px;
    margin: auto;
    display: block;
  }