<section class="app">
    <div class="header-body shadow-sm p-3 mb-5 bg-white rounded">
        <div class="align-items-end">
            <h2 class="header-title">
                Tableau de bord
            </h2>
        </div>
    </div>
    <!--*** fin titre ***-->
    <div class="container-fluid">
        <section class="infos-generales">
            <div class="row">
                <div class="col-12 col-lg-6 col-xl">
                    <div class="card">
                        <div class="card-body">
                            <div class="row align-items-center gx-0">
                                <div class="col">
                                    <h6 class="text-uppercase text-muted mb-2">Total Empreinte carbone Kg</h6>
                                    <div class="ml">
                                        <span class="h2 mb-0">24,50</span>
                                        <span class="badge bg-success-soft ml mt-3 position-absolute">-3.5%</span><br>
                                        <span class="text-secondary">22,47</span>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fa-solid fa-smog text-muted mb-0"></i>
                                </div>
                            </div>
                        </div>
                    </div><!-- / .card-->
                </div>
                <div class="col-12 col-lg-6 col-xl">
                    <div class="card">
                        <div class="card-body">
                            <div class="row align-items-center gx-0">
                                <div class="col">
                                    <h6 class="text-uppercase text-muted mb-2">Totale distance Km</h6>
                                    <div class="ml">
                                        <span class="h2 mb-0">763.5</span>
                                        <span class="badge bg-success-soft ml mt-3 position-absolute">-3.5%</span><br>
                                        <span class="text-secondary">22,47</span>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fa-solid fa-car text-muted mb-0"></i>
                                </div>
                            </div>
                        </div>
                    </div><!-- / .card-->
                </div>
                <div class="col-12 col-lg-6 col-xl">
                    <div class="card">
                        <div class="card-body">
                            <div class="row align-items-center gx-0">
                                <div class="col">
                                    <h6 class="text-uppercase text-muted mb-2">Total coût du carburant Dh</h6>
                                    <div class="ml">
                                        <span class="h2 mb-0">763.5</span>
                                        <span class="badge bg-success-soft ml mt-3 position-absolute">-3.5%</span><br>
                                        <span class="text-secondary">22,47</span>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fa-solid fa-comments-dollar text-muted mb-0"></i>
                                </div>
                            </div>
                        </div>
                    </div><!-- / .card-->
                </div>
                <div class="col-12 col-lg-6 col-xl">
                    <div class="card">
                        <div class="card-body">
                            <div class="row align-items-center gx-0">
                                <div class="col">
                                    <h6 class="text-uppercase text-muted mb-2">Total émission CO2 Kg</h6>
                                    <div class="ml">
                                        <span class="h2 mb-0">147</span>
                                        <span class="badge bg-success-soft ml mt-3 position-absolute">-3.5%</span><br>
                                        <span class="text-secondary">22,47</span>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fa-solid fa-smog text-muted mb-0"></i>
                                </div>
                            </div>
                        </div>
                    </div><!-- / .card-->
                </div>
            </div> <!-- / .row-->
            <div class="row">
                <div class="col-12 col-lg-6 col-xl">
                    <div class="card">
                        <div class="card-body">
                            <div class="row align-items-center gx-0">
                                <div class="col">
                                    <h6 class="text-uppercase text-muted mb-2">Total Gain Dh</h6>
                                    <div class="ml">
                                        <span class="h2 mb-0">24,5</span>
                                        <span class="badge bg-danger-soft ml mt-3 position-absolute">-3.5%</span><br>
                                        <span class="text-secondary">22,47</span>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fa-solid fa-hand-holding-dollar text-muted mb-0"></i>
                                </div>
                            </div>
                        </div>
                    </div><!-- / .card-->
                </div>
                <div class="col-12 col-lg-6 col-xl">
                    <div class="card">
                        <div class="card-body">
                            <div class="row align-items-center gx-0">
                                <div class="col">
                                    <h6 class="text-uppercase text-muted mb-2">Total coût/1Km Dh</h6>
                                    <div class="ml">
                                        <span class="h2 mb-0">763,5</span>
                                        <span class="badge bg-success-soft ml mt-3 position-absolute">-3.5%</span><br>
                                        <span class="text-secondary">22,47</span>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fa-solid fa-comments-dollar text-muted mb-0"></i>
                                </div>
                            </div>
                        </div>
                    </div><!-- / .card-->
                </div>
                <div class="col-12 col-lg-6 col-xl">
                    <div class="card">
                        <div class="card-body">
                            <div class="row align-items-center gx-0">
                                <div class="col">
                                    <h6 class="text-uppercase text-muted mb-2">Total coût services Dh</h6>
                                    <div class="ml">
                                        <span class="h2 mb-0">583,5</span>
                                        <span class="badge bg-danger-soft ml mt-3 position-absolute">-3.5%</span><br>
                                        <span class="text-secondary">22,47</span>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fa-solid fa-comments-dollar text-muted mb-0"></i>
                                </div>
                            </div>
                        </div>
                    </div><!-- / .card-->
                </div>
                <div class="col-12 col-lg-6 col-xl">
                    <div class="card">
                        <div class="card-body">
                            <div class="row align-items-center gx-0">
                                <div class="col">
                                    <h6 class="text-uppercase text-muted mb-2">Total coût dépenses</h6>
                                    <div class="ml">
                                        <span class="h2 mb-0">587,5</span>
                                        <span class="badge bg-success-soft ml mt-3 position-absolute">-3.5%</span><br>
                                        <span class="text-secondary">22,47</span>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fa-solid fa-comments-dollar text-muted mb-0"></i>
                                </div>
                            </div>
                        </div>
                    </div><!-- / .card-->
                </div>
            </div>
        </section>
        <section class="infos-vehicules-conducteur">
            <div class="row">
                <div class="col-12 col-xl-8">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-header-title">
                                Coût Total Dh
                            </h4>
                        </div>
                        <div class="card-body">
                            <canvas id="chart-total-consommation"
                                    style="display: block; box-sizing: border-box; height: 175px; width: 100%;">
                            </canvas>
                        </div>
                    </div>
                </div><!-- ./Chart total consommation -->
                <div class="col-12 col-xl-4">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-header-title">
                                Coût total des dépenses Dh
                            </h4>
                            <!-- List des véhicules -->
                            <div class="form-group">
                                <select class="form-select form-select-sm mt-4" id="exampleFormControlSelect1">
                                  <option>Véhicule ...</option>
                                  <option>véhicule 1</option>
                                  <option>véhicule 2</option>
                                </select>
                            </div>
                        </div>
                        <div class="card-body">
                            <canvas id="chart-depenses"
                                    style="display: block; box-sizing: border-box; height: 176.67px; width: 100%;">
                            </canvas>
                        </div>
                    </div>
                </div><!-- ./Chart dépenses -->
            </div>
            <!-- *** *** *** *** *** *** *** ***-->
            <div class="row">
                <div class="col-12 col-xl-4">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-header-title">
                                Total Coût/1 Km Dh
                            </h4>
                        </div>
                        <div class="card-body">
                            <canvas id="chart-cout-km"
                                    style="display: block; box-sizing: border-box; height: 175px; width: 100%;">
                            </canvas>
                        </div>
                    </div>
                </div><!-- ./Coût/Km -->
                <div class="col-12 col-xl-4">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-header-title">
                                Coût total du carburant Dh
                            </h4>
                        </div>
                        <div class="card-body">
                            <canvas id="chart-consommation-carburant"
                                    style="display: block; box-sizing: border-box; height: 175px; width: 100%;">
                            </canvas>
                        </div>
                    </div>
                </div><!-- ./Consommation de carburant -->
                <div class="col-12 col-xl-4">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-header-title">
                                État des véhicules
                            </h4>
                        </div>
                        <div class="card-body d-height">
                            <ul>
                                <li class="text-secondary">Equipés en Eco-conduite  <span class="badge bg-success">150</span></li>
                                <li class="text-secondary">Equipés<span class="badge bg-primary-soft">10</span></li> <!-- (Avec GPS) -->
                                <li class="text-secondary">No équipés <span class="badge bg-secondary-soft">140</span></li>
                                <li class="text-secondary">Maintenances <span class="badge bg-warning">45</span></li>
                                <li class="text-secondary">Actifs <span class="badge bg-success-soft">48</span></li>
                                <li class="text-secondary">Inactifs <span class="badge bg-secondary-soft">19</span></li>
                                <li class="text-secondary">Occupés <span class="badge bg-danger">90</span></li>
                            </ul>
                        </div>
                    </div> <!-- ./card (État des véhicules) -->
                </div>
                
            </div>
            <!-- *** *** *** *** *** *** *** ***-->

            <div class="row">
                <div class="col-12 col-xl-4">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-header-title">
                                Coût total des services Dh
                            </h4>
                        </div>
                        <div class="card-body">
                            <canvas id="chart-services"
                                    style="display: block; box-sizing: border-box; height: 175px; width: 100%;">
                            </canvas>
                        </div>
                    </div>
                </div><!-- ./Chart Services -->
                <div class="col-12 col-xl-4">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-header-title">
                                Évolution de compteur km
                            </h4>
                            <!-- List des véhicules -->
                            <div class="form-group">
                                <select class="form-select form-select-sm mt-4" id="exampleFormControlSelect1">
                                  <option>Véhicule ...</option>
                                  <option>véhicule 1</option>
                                  <option>véhicule 2</option>
                                </select>
                            </div>
                        </div>
                        <div class="card-body">
                            <canvas id="chart-evolution-compteur"
                                    style="display: block; box-sizing: border-box; height: 175px; width: 100%;">
                            </canvas>
                        </div>
                    </div>
                </div><!-- ./Chart évolution de compteur -->
                <div class="col-12 col-xl-4">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-header-title">
                                Classement des véhicules
                            </h4>
                        </div>
                        <div class="card-body d-height">
                            <ul>
                                <!-- <li class="text-secondary">Les 6 première véhicule ...</li> -->
                                <li class="text-secondary">11111-H-1 <span class="badge bg-success">95%</span></li>
                                <li class="text-secondary">22222-H-1 <span class="badge bg-success">93%</span></li>
                                <li class="text-secondary">33333-H-1 <span class="badge bg-success">92%</span></li>
                                <li class="text-secondary">44444-H-1 <span class="badge bg-success">90%</span></li>
                                <li class="text-secondary">55555-H-1 <span class="badge bg-primary">70%</span></li>
                                <li class="text-secondary">66666-H-1 <span class="badge bg-danger">60%</span></li>
                            </ul>
                        </div>
                    </div> <!-- ./card (classement des véhicules) -->
                </div>
            </div>
            <!-- *** *** *** *** *** *** *** *** **** ***-->
            <div class="row">
                <div class="col-12 col-xl-4">
                    <div class="card">
                        <div class="card-header">
                            <!-- Title -->
                            <h4 class="card-header-title">
                                Évolution de consommation l/100Km
                            </h4>
                            <!-- List des véhicules -->
                            <div class="form-group">
                                <select class="form-select form-select-sm mt-4" id="exampleFormControlSelect1">
                                  <option>Véhicule ...</option>
                                  <option>véhicule 1</option>
                                  <option>véhicule 2</option>
                                </select>
                            </div>
                        </div>
                        <div class="card-body">
                            <canvas id="autre-chart-1"
                                    style="display: block; box-sizing: border-box; height: 175px; width: 100%;">
                            </canvas>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-4">
                    <div class="card">
                        <div class="card-header">
                            <!-- Title -->
                            <h4 class="card-header-title">
                                Évolution des gains Dh
                            </h4>
                            <!-- List des véhicules -->
                            <div class="form-group">
                                <select class="form-select form-select-sm mt-4" id="exampleFormControlSelect1">
                                  <option>Véhicule ...</option>
                                  <option>véhicule 1</option>
                                  <option>véhicule 2</option>
                                </select>
                            </div>
                        </div>
                        <div class="card-body">
                            <canvas id="autre-chart-2"
                                    style="display: block; box-sizing: border-box; height: 175px; width: 100%;">
                            </canvas>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-4">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-header-title">
                                Classement des conducteurs
                            </h4>
                        </div>
                        <div class="card-body d-height">
                            <ul>
                                <li class="text-secondary">Conducteur 1 <!--span class="badge bg-success">95%</span--></li>
                                <li class="text-secondary">Conducteur 2 <!--span class="badge bg-success">93%</span--></li>
                                <li class="text-secondary">Conducteur 3 <!--span class="badge bg-success">92%</span--></li>
                                <li class="text-secondary">Conducteur 4 <!--span class="badge bg-success">90%</span--></li>
                                <li class="text-secondary">Conducteur 5 <!--span class="badge bg-primary">70%</span--></li>
                                <li class="text-secondary">Conducteur 6 <!--span class="badge bg-danger">60%</span--></li>
                            </ul>
                        </div>
                    </div> <!-- ./card (classement des conducteurs) -->
                </div>
            </div>
            <!-- *** *** *** *** *** *** *** ***-->
            <div class="row">
                <div class="col-12 col-xl-4">
                    <div class="card">
                        <div class="card-header">
                            <!-- Title -->
                            <h4 class="card-header-title">
                                Évolution d'émission Co2 kg
                            </h4>
                            <!-- List des véhicules -->
                            <div class="form-group">
                                <select class="form-select form-select-sm mt-4" id="exampleFormControlSelect1">
                                  <option>Véhicule ...</option>
                                  <option>véhicule 1</option>
                                  <option>véhicule 2</option>
                                </select>
                            </div>
                        </div>
                        <div class="card-body">
                            <canvas id="autre-chart-3"
                                    style="display: block; box-sizing: border-box; height: 175px; width: 100%;">
                            </canvas>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-4">
                    <div class="card">
                        <div class="card-header">
                            <!-- Title -->
                            <h4 class="card-header-title">
                                Évolution empreinte carbone Kg
                            </h4>
                            <!-- List des véhicules -->
                            <div class="form-group">
                                <select class="form-select form-select-sm mt-4" id="exampleFormControlSelect1">
                                  <option>Véhicule ...</option>
                                  <option>véhicule 1</option>
                                  <option>véhicule 2</option>
                                </select>
                            </div>
                        </div>
                        <div class="card-body">
                            <canvas id="autre-chart-4"
                                    style="display: block; box-sizing: border-box; height: 175px; width: 100%;">
                            </canvas>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-4">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-header-title">
                                Résumé
                            </h4>
                        </div>
                        <div class="card-body d-height">
                            <ul>
                                <li class="text-secondary">Véhicule polluant &nbsp; 11111-H-1 <span class="badge bg-success">60%</span></li>
                                <li class="text-secondary">Conducteur dangereux &nbsp; Conducteur 6 <!--span class="badge bg-danger">60%</span--></li>
                            </ul>
                        </div>
                    </div> <!-- ./card (???)-->
                </div>
            </div>
        </section>
    </div>

</section>