<section class="app">
    <div class="header-body shadow-sm p-3 mb-5 bg-white rounded">
        <div class="align-items-end">
            <h2 class="header-title">
                Tableau de bord
            </h2>
        </div>
    </div>
    <!--*** fin titre ***-->
    <div class="container-fluid">
        <section class="infos-generales">
            <div class="row">
                <div class="col-12 col-lg-6 col-xl col-sm-6">
                    <div class="card eq-blocks">
                        <div class="card-body">
                            <div class="row align-items-center gx-0">
                                <div class="col">
                                    <h6 class="text-uppercase text-muted mb-2">Bilan carbone</h6>
                                    <div class="ml">
                                        <span class="h2 mb-0">{{moisEncours.c?.toFixed(2)}}</span>
                                        <span class="badge bg-success-soft ml mt-3 position-absolute" [ngClass]="{'bg-danger-soft': moisEncours.c < moisEncours.c}">{{calc(moisEncours.c, moisPrecedent.c)}}%</span><br>
                                        <span class="text-secondary">{{moisPrecedent.c?.toFixed(2)}}</span>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fa-solid fa-smog text-muted mb-0"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- / .card-->
                </div>
                <div class="col-12 col-lg-6 col-xl col-sm-6">
                    <div class="card eq-blocks">
                        <div class="card-body">
                            <div class="row align-items-center gx-0">
                                <div class="col">
                                    <h6 class="text-uppercase text-muted mb-2">Totale distance Km</h6>
                                    <div class="ml">
                                        <span class="h2 mb-0">{{moisEncours.distance?.toFixed(2)}}</span>
                                        <span class="badge bg-success-soft ml mt-3 position-absolute" [ngClass]="{'bg-danger-soft': moisEncours.distance > moisEncours.distance}">{{calc(moisEncours.distance, moisPrecedent.distance)}}%</span><br>
                                        <span class="text-secondary">{{moisPrecedent.distance?.toFixed(2)}}</span>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fa-solid fa-car text-muted mb-0"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- / .card-->
                </div>
                <div class="col-12 col-lg-6 col-xl col-sm-6">
                    <div class="card eq-blocks">
                        <div class="card-body">
                            <div class="row align-items-center gx-0">
                                <div class="col">
                                    <h6 class="text-uppercase text-muted mb-2">Total coût du carburant Dh</h6>
                                    <div class="ml">
                                        <span class="h2 mb-0">{{moisEncours.cout_carburant?.toFixed(2)}}</span>
                                        <span class="badge bg-success-soft ml mt-3 position-absolute" [ngClass]="{'bg-danger-soft': moisEncours.cout_carburant > moisEncours.cout_carburant}">{{calc(moisEncours.cout_carburant, moisPrecedent.cout_carburant)}}%</span><br>
                                        <span class="text-secondary">{{moisPrecedent.cout_carburant?.toFixed(2)}}</span>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fa-solid fa-comments-dollar text-muted mb-0"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- / .card-->
                </div>
                <div class="col-12 col-lg-6 col-xl col-sm-6">
                    <div class="card eq-blocks">
                        <div class="card-body">
                            <div class="row align-items-center gx-0">
                                <div class="col">
                                    <h6 class="text-uppercase text-muted mb-2">Total émission CO2 Kg</h6>
                                    <div class="ml">
                                        <span class="h2 mb-0">{{moisEncours.co2?.toFixed(2)}}</span>
                                        <span class="badge bg-success-soft ml mt-3 position-absolute" [ngClass]="{'bg-danger-soft': moisEncours.co2 < moisEncours.co2}">{{calc(moisEncours.co2, moisPrecedent.co2)}}%</span><br>
                                        <span class="text-secondary">{{moisPrecedent.co2?.toFixed(2)}}</span>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fa-solid fa-smog text-muted mb-0"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- / .card-->
                </div>
            </div>
            <!-- / .row-->
            <div class="row">
                <div class="col-12 col-lg-6 col-xl col-sm-6">
                    <div class="card eq-blocks">
                        <div class="card-body">
                            <div class="row align-items-center gx-0">
                                <div class="col">
                                    <h6 class="text-uppercase text-muted mb-2">Total Gain Dh</h6>
                                    <div class="ml">
                                        <span class="h2 mb-0">_</span>
                                        <span class="badge bg-danger-soft ml mt-3 position-absolute">_</span><br>
                                        <span class="text-secondary">_</span>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fa-solid fa-hand-holding-dollar text-muted mb-0"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- / .card-->
                </div>
                <div class="col-12 col-lg-6 col-xl col-sm-6">
                    <div class="card eq-blocks">
                        <div class="card-body">
                            <div class="row align-items-center gx-0">
                                <div class="col">
                                    <h6 class="text-uppercase text-muted mb-2">Total coût/1Km Dh</h6>
                                    <div class="ml">
                                        <span class="h2 mb-0">_</span>
                                        <span class="badge bg-success-soft ml mt-3 position-absolute">_</span><br>
                                        <span class="text-secondary">_</span>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fa-solid fa-comments-dollar text-muted mb-0"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- / .card-->
                </div>
                <div class="col-12 col-lg-6 col-xl col-sm-6">
                    <div class="card eq-blocks">
                        <div class="card-body">
                            <div class="row align-items-center gx-0">
                                <div class="col">
                                    <h6 class="text-uppercase text-muted mb-2">Total coût maintenance Dh</h6>
                                    <div class="ml">
                                        <span class="h2 mb-0">{{moisEncours.cout_maintenance?.toFixed(2)}}</span>
                                        <span class="badge bg-success-soft ml mt-3 position-absolute" [ngClass]="{'bg-danger-soft': moisEncours.cout_maintenance>moisPrecedent.cout_maintenance}">{{calc(moisEncours.cout_maintenance, moisPrecedent.cout_maintenance)}}%</span><br>
                                        <span class="text-secondary">{{moisPrecedent.cout_maintenance?.toFixed(2)}}</span>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fa-solid fa-comments-dollar text-muted mb-0"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- / .card-->
                </div>
                <div class="col-12 col-lg-6 col-xl col-sm-6">
                    <div class="card eq-blocks">
                        <div class="card-body">
                            <div class="row align-items-center gx-0">
                                <div class="col">
                                    <h6 class="text-uppercase text-muted mb-2">Total coût dépenses</h6>
                                    <div class="ml">
                                        <span class="h2 mb-0">{{moisEncours.cout_depenses?.toFixed(2)}}</span>
                                        <span class="badge bg-success-soft ml mt-3 position-absolute" [ngClass]="{'bg-danger-soft': moisEncours.cout_depenses > moisEncours.cout_depenses}">{{calc(moisEncours.cout_depenses, moisPrecedent.cout_depenses)}}%</span><br>
                                        <span class="text-secondary">{{moisPrecedent.cout_depenses?.toFixed(2)}}</span>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fa-solid fa-comments-dollar text-muted mb-0"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- / .card-->
                </div>
            </div>
        </section>
        <section class="infos-vehicules-conducteur">
            <div class="row">
                <div class="col-12 col-xl-8">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-header-title">
                                Coût Total Dh
                            </h4>
                        </div>
                        <div class="card-body">
                            <canvas id="chart-total-consommation" style="display: block; box-sizing: border-box; height: 175px; width: 100%;">
                            </canvas>
                        </div>
                    </div>
                </div>
                <!-- ./Chart total consommation -->
                <div class="col-12 col-xl-4">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-header-title">
                                Coût total des dépenses Dh
                            </h4>
                        </div>
                        <div class="card-body">
                            <canvas id="chart-depenses" style="display: block; box-sizing: border-box; height: 176.67px; width: 100%;">
                            </canvas>
                        </div>
                    </div>
                </div>
                <!-- ./Chart dépenses -->
            </div>
            <!-- *** *** *** *** *** *** *** ***-->
            <div class="row">
                <div class="col-12 col-xl-4">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-header-title">
                                Total Coût/1 Km Dh
                            </h4>
                        </div>
                        <div class="card-body">
                            <canvas id="chart-cout-km" style="display: block; box-sizing: border-box; height: 175px; width: 100%;">
                            </canvas>
                        </div>
                    </div>
                </div>
                <!-- ./Coût/Km -->
                <div class="col-12 col-xl-4">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-header-title">
                                Coût total du carburant Dh
                            </h4>
                        </div>
                        <div class="card-body">
                            <canvas id="chart-consommation-carburant" style="display: block; box-sizing: border-box; height: 175px; width: 100%;">
                            </canvas>
                        </div>
                    </div>
                </div>
                <!-- ./Consommation de carburant -->
                <div class="col-12 col-xl-4">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-header-title">
                                État des véhicules
                            </h4>
                        </div>
                        <div class="card-body d-height">
                            <ul>
                                <li class="text-secondary">Equipés en Eco-conduite <span class="badge bg-success">{{etatVehicule.eco_conduite}}</span></li>
                                <li class="text-secondary">Avec GPS<span class="badge bg-primary-soft">{{etatVehicule.gps}}</span></li>
                                <!-- (Avec GPS) -->
                                <li class="text-secondary">Sans GPS <span class="badge bg-secondary-soft">{{etatVehicule.non_gps}}</span></li>
                                <li class="text-secondary">En maintenances <span class="badge bg-warning">{{etatVehicule.maintenance}}</span></li>
                                <li class="text-secondary">Actifs <span class="badge bg-success-soft">{{etatVehicule.actif}}</span></li>
                                <li class="text-secondary">Inactifs <span class="badge bg-secondary-soft">{{etatVehicule.inactif}}</span></li>
                                <li class="text-secondary">Occupés <span class="badge bg-danger">{{etatVehicule.occupe}}</span></li>
                            </ul>
                        </div>
                    </div>
                    <!-- ./card (État des véhicules) -->
                </div>

            </div>
            <!-- *** *** *** *** *** *** *** ***-->

            <div class="row">
                <div class="col-12 col-xl-4">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-header-title">
                                Coût total des maintenance Dh
                            </h4>
                        </div>
                        <div class="card-body">
                            <canvas id="chart-maintenance" style="display: block; box-sizing: border-box; height: 175px; width: 100%;">
                            </canvas>
                        </div>
                    </div>
                </div>
                <!-- ./Chart Services -->
                <div class="col-12 col-xl-4">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-header-title">
                                Évolution de compteur km
                            </h4>
                        </div>
                        <div class="card-body">
                            <canvas id="chart-evolution-compteur" style="display: block; box-sizing: border-box; height: 175px; width: 100%;">
                            </canvas>
                        </div>
                    </div>
                </div>
                <!-- ./Chart évolution de compteur -->
                <div class="col-12 col-xl-4">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-header-title">
                                Classement des véhicules
                            </h4>
                        </div>
                        <div class="card-body d-height">
                            <ul>
                                <li class="text-secondary" *ngFor="let vs of vehiculesByScore">
                                    {{vs.matricule}} <span class="badge bg-success" [ngClass]="{'bg-danger-soft': vs.score<70}">{{vs.score}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- ./card (classement des véhicules) -->
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-xl-4">
                    <div class="card">
                        <div class="card-header">
                            <!-- Title -->
                            <h4 class="card-header-title">
                                Évolution d'émission Co2 kg
                            </h4>
                        </div>
                        <div class="card-body">
                            <canvas id="chart-co2" style="display: block; box-sizing: border-box; height: 175px; width: 100%;">
                            </canvas>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-4">
                    <div class="card">
                        <div class="card-header">
                            <!-- Title -->
                            <h4 class="card-header-title">
                                Évolution carbone Kg
                            </h4>
                        </div>
                        <div class="card-body">
                            <canvas id="chart-carbone" style="display: block; box-sizing: border-box; height: 175px; width: 100%;">
                            </canvas>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-4">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-header-title">
                                Résumé
                            </h4>
                        </div>
                        <div class="card-body d-height">
                            <ul>
                                <li class="text-secondary">Véhicule polluant &nbsp; {{vehiculesByScore[vehiculesByScore.length-1]?.matricule}}<span class="badge bg-success">{{vehiculesByScore[vehiculesByScore.length-1]?.score}}%</span></li>
                                <li class="text-secondary">Conducteur dangereux &nbsp; _
                                    <!--span class="badge bg-danger">60%</span-->
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- ./card (???)-->
                </div>
            </div>
        </section>
    </div>

</section>