.container-fluid {
    width: 95%;
}

.card-l {
    width: 19% !important;
    margin-left: 1% !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
}

.card-header-title {
    margin-left: 1%;
}

.header-pretitle {
    letter-spacing: .04em !important;
}


/* .vehicules .col-md-6 {
    width: 49% !important;
} */

.dropdown-menu-card .card-body {
    max-height: 122px !important;
    height: 120px !important;
}

.card-body {
    padding: 7px !important;
}

.list-group-item {
    padding: 0 !important;
}

.list-group-item li {
    cursor: pointer !important;
}

form.dropdown-menu {
    position: absolute;
    inset: 0px 0px auto auto;
    margin: 0px;
    transform: translate(0px, 31px);
}

.img-no-data {
    width: 300px;
    display: block;
    margin: auto;
}

.fa-car {
    font-size: 20px;
}

@media (max-width: 1212px) {
    .card-l {
        width: 49% !important;
    }
}

@media (max-width: 560px) {
    .card-l {
        width: 100% !important;
    }
}

#chartVehicule {
    height: 300px !important;
}

.icone-car {
    font-size: 23px;
    background-color: #de2568;
    padding: 17px;
    position: absolute;
    color: #fff !important;
    margin-left: -47px;
    margin-top: -41px;
    border-radius: 10px;
    box-shadow: rgb(50 50 93 / 25%) 0px 6px 12px -2px, rgb(0 0 0 / 30%) 0px 3px 7px -3px;
}