<div class="app">
    <div class="header-body shadow-sm p-3 mb-5 bg-white rounded">
        <div class="align-items-end">
            <h6 class="header-pretitle">
                Stock
            </h6>
            <h2 class="header-title">
                Piece categories
            </h2>
        </div>
    </div> <!-- ./titre -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-outline-primary float-right" data-bs-toggle="modal" data-bs-target="#modal-edit" (click)="clear()">
                    <i class="fa-solid fa-plus"></i> 
                </button><br><br><br>

                <div class="list-pieces-cat row">
                    <div class="col-md-3" *ngFor="let pieceCat of pieceCategories">
                        <div class="card">
                            <div class="card-header">
                                {{pieceCat.nom}}
                                <div>
                                    <button type="button" class="btn btn-light float-right" style="margin-left: 5px;" data-bs-toggle="modal" data-bs-target="#modal-delete">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                    <button type="button" class="btn btn-light float-right" data-bs-toggle="modal" data-bs-target="#modal-edit" (click)="getPieceCategorie(pieceCat.id)">
                                        <i class="fa-solid fa-pen"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <p>{{pieceCat.description}}</p>
                            </div>
                        </div>

                    </div>
                </div>

                
            </div>
        </div>
    </div> <!-- ./container-fluid -->
     
    <!-- **** Modal de confirmation **** -->
    <div class="modal fade" id="modal-delete" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header flex-column">
                    <div class="icon-box">
                        <i class="material-icons">
                            <i class="fa-solid fa-x"></i>
                        </i>
                    </div>
                    <h4 class="modal-title w-100">Êtes-vous sûr?</h4>
                    <button type="button" class="close btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Voulez-vous vraiment supprimer ces enregistrements ? Ce processus ne peut pas être annulé.</p>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" data-bs-dismiss="modal" aria-label="Close">Annuler</button>
                    <!-- <button type="button" class="btn btn-danger" (click)="delete(1)">Supprimer</button> -->
                </div>
            </div>
        </div>
    </div>

    <!-- **** L'ajout + la modification **** -->
    <div class="modal fade" id="modal-edit" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-card card" data-list=''>
                    <div class="card-header">
                        <h4 class="card-header-title" id="exampleModalCenterTitle">
                            Piece categories
                        </h4>
                        <button type="button" class="btn-close pb-0 mp-0" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="card-body">
                        <form #pieceCatForm="ngForm" (ngSubmit)="update(pieceCatForm.value)">
                            <input type="hidden" [(ngModel)]="singlePieceCatForm.id" name="id">
                            <div class="form-group">
                                <label for="nom" class="form-label">
                                    Nom
                                    <strong class="text-danger" *ngIf="!singlePieceCatForm.nom">*</strong>
                                </label>
                                <input type="text" class="form-control form-control-sm" placeholder="Nom" [(ngModel)]="singlePieceCatForm.nom" name="nom" required>
                            </div>
                            <div class="form-group">
                                <label for="nom" class="form-label">
                                    Description
                                    <strong class="text-danger" *ngIf="!singlePieceCatForm.nom">*</strong>
                                </label>
                                <textarea class="form-control" rows="3" [(ngModel)]="singlePieceCatForm.description" name="description"></textarea>
                            </div>
                            <div class="col-md-12">
                                <small class="text-danger">*: Ce champ est obligatoire.</small>
                                <button type="submit" class="btn btn-success mb-2 btn-save float-right" [disabled]="!pieceCatForm.valid" >Enregister</button>
                                <button type="button" class="btn btn-secondary float-right" data-bs-dismiss="modal" style="margin-right: 5px;">Annuler</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>


</div>