.infos-generales,
.contient, 
.autre-infos {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    padding: 15px 20px;
    border-radius: 10px;
    /*background-color: #fff;*/
}

.infos-generales img {
    width: 60%;
    margin: auto;
    display: block;
}

.cycle_de_vie .list-group,
.specifications .list-group,
.moteur_transmission .list-group,
.roues_pneus .list-group,
.liquides .list-group {
    display: block;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 0px 20px !important;
}

.cycle_de_vie,
.specifications {
    margin: 20px 10px !important;
}

.specifications h3,
.moteur_transmission h3 {
    font-size: 16px;
    margin-bottom: 22px;
}

.map-container {
    top: 0;
    left: 0;
    height: 270px;
    right: 0;
    bottom: 0; 
  }
  
.map-frame {
    height: 100%;
  }
  
#map {
    height: 100%;
  }


.img-no-data {
    width: 330px;
    display: block;
    margin: auto;
}

h3.titre{
    text-align: left;
    font-weight: 700;
}

.autre-infos .col-md-6{
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    width: 49%;
    padding: 15px;
    margin-bottom: 2%;
    border-radius: 6px;
}

.margin-right{
    margin-right: 2%;
}

.details i.fa-car{
    font-size: 25px;
}

.infos-detaillees{
    margin-top: 25px;
}

.autre-infos .row{
    padding-left: 2%;
    padding-right: 2%;
}

.padding-top{
    margin-top: 2%;
}