<div class="header-body shadow-sm p-3 mb-5 bg-white rounded">
    <div class="align-items-end">
        <h6 class="header-pretitle">
            Géolocalisation
        </h6>
        <h2 class="header-title">
            Itinéraires
        </h2>
    </div>
</div>
<div class="container-fluid">
    <form #dataForm="ngForm" (submit)="recherche(dataForm.value)">
        <div class="row form-search row ng-untouched ng-pristine ng-valid pb-3 mb-2">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="form-inline">
                    <label for="vehicule">Véhicule :</label>
                    <select class="form-select form-select-sm" ngModel name="vehicule" id="vehicule" required>
                        <option value="" disabled selected>Choisissez un véhicule</option>
                        <option value="{{ vehicule.id }}" *ngFor="let vehicule of vehicules">{{ vehicule.matricule }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="form-inline">
                    <label for="date_from">Periode du :</label>
                    <input type="datetime-local" class="form-select form-select-sm"
                        [ngModel]="date_debut | date: 'yyyy-MM-ddTHH:mm:ss.SSS'" name="date_debut" id="date_from"
                        step="1">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="form-group">
                    <label for="date_to">Au :</label>
                    <div class="input-group  mb-3 input-group-sm">
                        <input type="datetime-local" class="form-select form-select-sm"
                            [ngModel]="date_fin | date: 'yyyy-MM-ddTHH:mm:ss.SSS'" name="date_fin" id="date_to">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-outline-primary"
                                [disabled]="dataForm.value.vehicule < 1" style="margin-left: 12px; padding: 0px 8px;">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div> <!-- form-group -->
            </div>

            <!--div class="col-xs-12 col-sm-6 col-md-2">
                <br>
                <input type="submit" class="btn btn-sm btn-outline-primary" value="Recherche" style="width: 100%"
                    [disabled]="dataForm.value.vehicule < 1">
            </div-->
        </div>
    </form>

    <h4 *ngIf="vehicule?.matricule">Matricule (<b>{{vehicule.matricule}}</b>)</h4>
    <div class="timeline" *ngIf="historique['records']?.length > 0">
        <div class="entry" *ngFor="let item of historique['records']">
            <div [ngClass]="item.genre == 'trip' ? 'title2' : 'title'">
                <h3>{{ item.genre == 'trip' ? 'Début de trajet' : 'Arrêt'}}</h3>
                <p>{{item.depart_heure | date: 'dd/MM/yyyy HH:mm:ss'}}</p>
                <a href="#" *ngIf="item.genre == 'trip'" data-bs-toggle="modal" data-bs-target="#showMap"
                    (click)="getTrajetDetails(item.arrive_id)">
                    <img src="assets/img/trip_map.png" height="40">
                </a>
            </div>
            <div class="body">
                <p>{{item.depart_adresse}}</p>
                <ul>
                    <li>{{item.genre == 'trip' ? "Durée de conduite" : "Durée d'arrêt"}} : {{item.duree}}
                    </li>
                    <li *ngIf="item.genre == 'trip'">Distance parcouru : {{item.distance}} (km)</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="showMap" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5> -->
                <button type="button" class="btn-close pb-0 mp-0" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="map-container">
                    <div class="map-frame">
                        <div id="map" style="border-radius: 10px;"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                <!-- <button type="button" class="btn btn-primary">Understood</button> -->
            </div>
        </div>
    </div>
</div>