<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <!-- List group -->
                <div class="list-group list-group-flush my-n3">
                    <div class="list-group-item" *ngFor="let vehicule of vehicules, let index=index">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <a class="avatar">
                                    <img src="{{index==0 ? 'assets/img/cup-icon.png' : 'assets/img/car.jpg'}}" alt="..." class="avatar-img rounded-circle">
                                </a>
                            </div>
                            <div class="col ms-n2">
                                <h4 class="mb-1">
                                    <a>{{vehicule.maticule}}</a>
                                </h4>
                                <p class="small mb-0">
                                    <span class="text-success" *ngIf="vehicule.marque">●</span>{{vehicule.marque}}
                                </p>
                            </div>
                            <div class="col-auto">
                                <div class="row align-items-center g-0">
                                    <div class="col-auto">
                                        <div class="progress" style="width: 150px; height: 11px;">
                                            <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" ngClass="{{vehicule.score < 70 ? 'bg-danger' : ''}}" role="progressbar" style="width: {{vehicule.score}}%;" aria-valuemin="20" aria-valuemax="100">{{vehicule.score}}%</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- *** *** *** -->
                </div>
            </div>
            <!-- / .card-body -->
        </div>
    </div>
    <!-- / .row -->
    <div class="col-md-4">
        <div class="card">
            <!-- <div class="card-header">
                <h4 class="card-header-title">
                    lorem ipsum
                </h4>
            </div> -->
            <div class="card-body">
                <!-- List group -->
                <div class="list-group list-group-flush list-group-activity my-n3">
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-auto">
                                <div class="avatar avatar-sm">
                                    <div class="avatar-title fs-lg bg-primary-soft rounded-circle text-primary">
                                        <i class="fa-solid fa-car"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col ms-n2">
                                <h5 class="mb-1">
                                    Véhicule le plus polluant
                                </h5>
                                <p class="small text-gray-700 mb-0">
                                    Véhicule 4
                                </p>
                                <small class="text-muted">
                                    Marque de véhicule
                                </small>
                            </div>
                        </div>
                        <!-- / .row -->
                    </div>
                </div>
                <!-- ./list-group -->
                <div class="list-group list-group-flush list-group-activity my-n3">
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-auto">
                                <div class="avatar avatar-sm">
                                    <div class="avatar-title fs-lg bg-primary-soft rounded-circle text-primary">
                                        <i class="fa-solid fa-car"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col ms-n2">
                                <h5 class="mb-1">
                                    Véhicule le moins polluant
                                </h5>
                                <p class="small text-gray-700 mb-0">
                                    Véhicule 1
                                </p>
                                <small class="text-muted">
                                    Marque de véhicule
                                </small>
                            </div>
                        </div>
                        <!-- / .row -->
                    </div>
                </div>
                <!-- ./list-group -->
            </div>
        </div>
    </div>

</div>