<div>
    <div class="row">
        <div class="col-md-9"></div>
        <form class="gx-0 mb-3 frm-search-vehicule col-md-3 float-right" #searchForm="ngForm">
            <div class="form-group">
                <label for="exampleFormControlSelect1">Véhicules</label>
                <select class="form-select" id="exampleFormControlSelect1">
                    <option>Veuillez choisir ...</option>
                    <option>Vehicule 1</option>
                    <option>Vehicule 2</option>
                    <option>Vehicule 3</option>
                    <option>Vehicule 4</option>
                </select>
            </div>
        </form><!-- ./form -->
    </div>
    <div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-header-title pt-3">
                            Évolution de Score
                        </h4>
                    </div>
                    <div class="card-body">
                        <canvas id="chart_score"></canvas>
                    </div>
                </div>
            </div>
        </div><!-- ./row fiche vehicule -->
        <div class="row">
            <div class="col-md-4">
                <div class="card bg">
                    <div class="card-header">
                        <canvas id="chart_vitesse_maximale"></canvas>
                    </div>
                    <div class="card-body">
                        <h4 class="card-header-title txt-card">
                            Vitesse maximale
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg">
                    <div class="card-header">
                        <canvas id="chart_vitesse_moyenne"></canvas>
                    </div>
                    <div class="card-body">
                        <h4 class="card-header-title txt-card">
                            Vitesse moyenne Km
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg">
                    <div class="card-header">
                        <canvas id="chart_consommation_carburants"></canvas>
                    </div>
                    <div class="card-body">
                        <h4 class="card-header-title txt-card">
                            Consommation carburants
                        </h4>
                    </div>
                </div>
            </div>
            
        </div><!-- ./row-->
        <div class="row">
            <div class="col-md-4">
                <div class="card bg">
                    <div class="card-header">
                        <canvas id="chart_distance_parcourue"></canvas>
                    </div>
                    <div class="card-body">
                        <h4 class="card-header-title txt-card">
                            Distance parcourue Km
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg">
                    <div class="card-header">
                        <canvas id="chart_emission_co2"></canvas>
                    </div>
                    <div class="card-body">
                        <h4 class="card-header-title txt-card">
                            Emission CO2 kg
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg">
                    <div class="card-header">
                        <canvas id="chart_temps_conduite"></canvas>
                    </div>
                    <div class="card-body">
                        <h4 class="card-header-title txt-card">
                            Temps de conduite
                        </h4>
                    </div>
                </div>
            </div>
            
        </div><!-- ./row-->
        <div class="row">
            <div class="col-md-4">
                <div class="card bg">
                    <div class="card-header">
                        <canvas id="chart_fuel_consomme"></canvas>
                    </div>
                    <div class="card-body">
                        <h4 class="card-header-title txt-card">
                            Fuel consomme
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg">
                    <div class="card-header">
                        <canvas id="chart_fuel_gaspille"></canvas>
                    </div>
                    <div class="card-body">
                        <h4 class="card-header-title txt-card">
                            Fuel gaspillé
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg">
                    <div class="card-header">
                        <canvas id="chart_bilan_carbone"></canvas>
                    </div>
                    <div class="card-body">
                        <h4 class="card-header-title txt-card">
                            Bilan carbone
                        </h4>
                    </div>
                </div>
            </div>
        </div><!-- ./row-->
    </div>
</div>