<br>
<div class="col-md-6" style="display: block; margin:auto;">
    <div class="card">
        <div class="card-body">
            <!-- List group -->
            <div class="list-group list-group-flush my-n3">
                <div class="list-group-item">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <a href="profile-posts.html" class="avatar">
                                <img src="assets/img/cup-icon.png" alt="..."
                                    class="avatar-img rounded-circle">
                            </a>
                        </div>
                        <div class="col ms-n2">
                            <h4 class="mb-1">
                                <a href="profile-posts.html">Dianna Smiley</a>
                            </h4>
                            <p class="small mb-0">
                                <span class="text-success">●</span> Online
                            </p>
                        </div>
                        <div class="col-auto">
                            <div class="row align-items-center g-0">
                                <div class="col-auto">
                                  <!-- Value -->
                                  <div class="small me-2">12%</div>
                                </div>
                                <div class="col">
                                    <!-- *** *** *** -->
                                </div>
                            </div> <!-- / .row -->
                        </div>
                    </div> <!-- / .row -->
                </div>
                <div class="list-group-item">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <a href="profile-posts.html" class="avatar">
                                <img src="assets/img/avatars/profiles/avatar-2.jpg" alt="..."
                                    class="avatar-img rounded-circle">
                            </a>
                        </div>
                        <div class="col ms-n2">
                            <h4 class="mb-1">
                                <a href="profile-posts.html">Dianna Smiley</a>
                            </h4>
                            <p class="small mb-0">
                                <span class="text-success">●</span> Online
                            </p>
                        </div>
                        <div class="col-auto">
                            <h2>50%</h2>
                        </div>
                    </div> <!-- / .row -->
                </div>
                <div class="list-group-item">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <a href="profile-posts.html" class="avatar">
                                <img src="assets/img/avatars/profiles/avatar-3.jpg" alt="..."
                                    class="avatar-img rounded-circle">
                            </a>
                        </div>
                        <div class="col ms-n2">
                            <h4 class="mb-1">
                                <a href="profile-posts.html">Dianna Smiley</a>
                            </h4>
                            <p class="small mb-0">
                                <span class="text-success">●</span> Online
                            </p>
                        </div>
                        <div class="col-auto">
                            <h2>50%</h2>
                        </div>
                    </div> <!-- / .row -->
                </div>
            </div>
        </div> <!-- / .card-body -->
    </div>
</div>