<div *ngIf="message" class="alert alert-success" role="alert">
    {{message}}
    <button type="button" class="btn-close pb-0 mp-0" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="contient">
    <button class="btn btn-outline-primary float-right" data-bs-toggle="modal" data-bs-target="#modal-edit">
        <i class="fa-solid fa-plus"></i>
    </button><br><br><br>

    <div class="table-responsive row">
        <table class="table table-sm table-nowrap card-table">
            <thead>
                <tr>
                    <th width="150">Numéro</th>
                    <th width="200">Raison sociale</th>
                    <th width="150">Bon reception</th>
                    <th width="200">Entrepôt</th>
                    <th width="170" class="text-center">validé le</th>
                    <th>Commentaire</th>
                    <th class="text-center">Statut</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody class="list">
                <tr *ngFor="let bonR of list_bons_retour">
                    <td class="numero"> {{bonR.numero}} </td>
                    <td class="raison_sociale">{{bonR.raison_sociale}}</td>
                    <td class="bon_reception"> {{bonR.bon_reception}} </td>
                    <td class="numero"> {{bonR.entrepot}} </td>
                    <td class="valide-le text-center">{{bonR.validated_at | date:"dd/MM/yyyy HH:mm"}}</td>
                    <td class="commentaire"> {{bonR.commentaire}} </td>
                    <td class="statut text-center">
                        <div class="text-success" *ngIf="bonR.validated_at">
                            Validé 
                            <i class="fa-solid fa-check"></i>
                        </div> 
                        <div class="text-danger" *ngIf="!bonR.validated_at">
                           Non validé
                           <i class="fas fa-exclamation-triangle"></i>
                        </div>
                    </td>
                    <td width="75">
                        <a [routerLink]="['/stock/bons-retour/',bonR.id,'edit']" type="button" class="btn btn-operation">
                            <i class="fa-solid fa-pen"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div> <!-- ./contient -->

<div class="modal fade" id="modal-edit" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-card card" data-list=''>
                <div class="card-header">
                    <h4 class="card-header-title" id="exampleModalCenterTitle">
                        Bons de retour
                    </h4>
                    <button type="button" class="btn-close pb-0 mp-0" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="card-body">
                    <form #bonRForm="ngForm" (ngSubmit)="update(bonRForm.value)">
                        <!-- <div class="form-group">
                            <label class="form-label">
                                Entrepot
                                <strong class="text-danger" *ngIf="!singleBonR.entrepot_id">*</strong>
                            </label>
                            <select class="form-select form-select-sm" name="entrepot_id" [(ngModel)]="singleBonR.entrepot_id"
                                required>
                                <option value=null disabled>Veuillez choisir...</option>
                                <option *ngFor="let entrepot of entrepots" [value]="entrepot.id">{{entrepot.nom}}
                                </option>
                            </select>
                        </div> -->
                        <div class="form-group">
                            <label class="form-label">
                                Bon reception
                                <strong class="text-danger" *ngIf="!singleBonR.bon_reception_id">*</strong>
                            </label>
                            <select class="form-select form-select-sm" name="bon_reception_id"
                                [(ngModel)]="singleBonR.bon_reception_id" required>
                                <option value=null disabled>Veuillez choisir...</option>
                                <option *ngFor="let bonR of list_bons_reception" [value]="bonR.id">{{bonR.numero}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-label">commentaire</label>
                            <textarea class="form-control" rows="3" name="commentaire"
                                [(ngModel)]="singleBonR.commentaire"></textarea>
                        </div>

                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary mb-2 mt-4 float-right"
                                [disabled]="!bonRForm.valid">Enregister</button>
                            <button type="button" class="btn btn-secondary mb-2 mt-4 float-right"
                                data-bs-dismiss="modal" style="margin-right: 5px;">Annuler</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div><!-- modal -->