<div class="app">
    <div class="header-body shadow-sm p-3 mb-5 bg-white rounded">
        <div class="align-items-end">
            <h6 class="header-pretitle">
                Maintenances
            </h6>
            <h2 class="header-title">
                Gestion de réparation
            </h2>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs nav-overflow header-tabs">
                    <li class="nav-item active">
                        <!-- item 1 -->
                    </li>
                    <li class="nav-item">
                        <!-- item 2 -->
                    </li>
                    <li class="nav-item">
                        <!-- item 3 -->
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>