<div>
    <div class="row">
        <div class="col-md-12">
            <form class="row gx-0 mb-3 frm-search-jms" #searchForm="ngForm">
                <ul class="nav nav-tabs nav-tabs-sm card-header-tabs">
                    <li class="nav-item" data-toggle="chart" data-target="#salesChart" data-trigger="click"
                        data-action="toggle" data-dataset="0" (click)="changeData('jour')">
                        <a class="nav-link active" href="#" data-bs-toggle="tab">
                            Jour
                        </a>
                    </li>
                    <li class="nav-item" data-toggle="chart" data-target="#salesChart" data-trigger="click"
                        data-action="toggle" data-dataset="2" (click)="changeData('semaine')">
                        <a class="nav-link" href="#" data-bs-toggle="tab">
                            Semaine
                        </a>
                    </li>
                    <li class="nav-item" data-toggle="chart" data-target="#salesChart" data-trigger="click"
                        data-action="toggle" data-dataset="1" (click)="changeData('mois')">
                        <a class="nav-link" href="#" data-bs-toggle="tab">
                            Mois
                        </a>
                    </li>
                </ul>
            </form>
        </div>
    </div><!-- ./row -->
    <div class="row">
        <div class="col-md-12">
            <p class="text-muted text-center mt-5" *ngIf="viewChartPrincipale == false">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad expedita laudantium veritatis nulla
                iste, tempore est blanditiis excepturi.
            </p>
            <div class="principal-chart" [ngClass]="{'d-none':!viewChartPrincipale}">
                <canvas id="chart-principal"></canvas>
            </div>
        </div>
    </div><!-- ./row -->
    <div class="row">
        <div class="col-md-12">
            <div class="charts-par-vehicule mb-7 mt-4">
                <table>
                    <thead>
                        <tr>
                            <th class="col-vehicules text-muted">
                                &nbsp;&nbsp;Véhicule
                                <small class="dropdown">
                                    <div class="dropdown-ellipses dropdown-toggle float-right" role="button"
                                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v"></i> &nbsp;
                                    </div>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <h4 class="card-header-title dropdown-item">Veuillez choisir {{maxVehicule}}
                                            véhicules:</h4>
                                        <li class="dropdown-item" *ngFor="let vehicule of vehicules">
                                            <input class="form-check-input check-vehicule" type="checkbox"
                                                id="vehicule_{{vehicule.id}}" (click)="checkVehicules($event,vehicule)"
                                                checked="{{vehicule.checked}}">
                                            {{vehicule.matricule}}
                                        </li>
                                        <strong class="text-danger dropdown-item d-none mv-error">
                                            <i class="fas fa-exclamation-triangle"></i> Le maximum est
                                            {{maxVehicule}}
                                        </strong>
                                    </ul>
                                </small>
                            </th>
                            <th *ngFor="let chart of chartSelected"
                                class="text-muted text-center col-chart col-chart-{{chart.index}}"
                                [ngClass]="{'d-none' : !chart.checked}">
                                <label (click)="remplissageChartPrincipale(chart.index)"
                                    class="cursor">{{chart.libelle}}</label>
                                <small class="dropdown" *ngIf="chart.last">
                                    <div class="dropdown-ellipses dropdown-toggle float-right" role="button"
                                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v"></i> &nbsp;
                                    </div>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <h4 class="card-header-title dropdown-item">Veuillez choisir
                                            {{maxChart}} type :</h4>
                                        <li class="dropdown-item" *ngFor="let chart of chartSelected">
                                            <input class="form-check-input check-vehicule" type="checkbox"
                                                id="chart_{{chart.index}}" checked="{{chart.checked}}"
                                                (click)="checkChart($event, chart.index)">
                                            {{chart.libelle}}
                                        </li>
                                        <strong class="text-danger dropdown-item d-none mc-error">
                                            <i class="fas fa-exclamation-triangle"></i> Le maximum est
                                            {{maxChart}}
                                        </strong>
                                    </ul>
                                </small>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let vehicule of vehiculesSelected">
                            <td class="matricule">
                                {{ vehicule.matricule }}<br>
                                <small class="text-muted">{{vehicule.groupe}}</small><br>
                                <a [routerLink]="['/geolocalisation/historique']" class="h2">
                                    <i class="fa-solid fa-location-dot text-muted mb-0"></i>
                                </a>
                            </td>
                            <td class="col-chart tchart chart-{{chart.index}}" *ngFor="let chart of chartSelected"
                                [ngClass]="{'d-none' : !chart.checked}">
                                <strong class="text-dark small" id="max_{{vehicule.id}}{{chart.index}}">0</strong>
                                <canvas id="chart_{{vehicule.id}}{{chart.index}}" class="chat-vehicule"></canvas>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot *ngIf="vehiculesSelected.length == 0">
                        <tr>
                            <td colspan="5">
                                <p class="text-center text-muted">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure cumque enim nobis
                                    molestiae.
                                </p>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div><!-- ./row -->
</div>