.widget-content {
    padding: 1rem;
    flex-direction: row;
    align-items: center;
}

.widget-content .widget-content-wrapper {
    display: flex;
    flex: 1;
    position: relative;
    align-items: center;
}

.widget-content .widget-numbers {
    font-weight: 700;
    font-size: 1.8rem;
    display: block;
}

.widget-content .widget-content-left .widget-heading {
    opacity: .8;
    font-weight: 700;
}

.widget-content .widget-content-left .widget-subheading {
    opacity: .5;
}

.mr-3,
.mx-3 {
    margin-right: 1rem!important;
}

.ml-0,
.mx-0 {
    margin-left: 0!important;
}

.card-header {
    height: 35px;
    border-bottom: none;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

ul li {
    padding: 0;
}

.dropdown-menu.show {
    display: block !important;
}

.dropdown .form-group {
    margin-bottom: 0.2rem;
}

.dropdown .card-header-tabs .nav-link {
    padding-top: 10px !important;
    padding-bottom: 6px !important;
}

.dropdown button {
    padding: 5px 20px;
    border-radius: 3px;
}

.dropdown-menu {
    display: none !important;
}

.dropdown .btn-primary {
    margin-bottom: 15px;
}


/**** **** **** ****/

.card_height {
    height:  168px;
}

.card_height h3 {
    margin-top: 12px;
    font-size: 30px;
    color: #2c7be4;
}