<div class="row">
    <div class="col-md-12">
        <div class="col-auto">
            <small class="text-muted mb-6">
                {{filter.matricule}} du: {{filter.date_debut | date:'dd/MM/yyyy'}} au: {{filter.date_fin |
                date:'dd/MM/yyyy'}}
            </small>
            <!-- Dropdown -->
            <div class="dropdown float-right">
                <!-- Toggle -->
                <button class="btn btn-primary shadow" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">
                    <i class="fa-solid fa-arrow-down-wide-short"></i> Fiche de ...
                </button>
                <!-- Menu -->
                <form class="dropdown-menu dropdown-menu-end dropdown-menu-card" #filerForm="ngForm" (ngSubmit)="filterFun()">
                    <div class="card-body">
                        <!-- List group -->
                        <div class="list-group list-group-flush mt-n4 mb-4">
                            <div class="list-group-item">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="vehicule_id">Véhicules</label>
                                            <select class="form-select form-select-sm" id="vehicule_id" [(ngModel)]="filter.vehicule_id" name="vehicule_id" (change)="changeVehicule($event)">
                                                <option value="null" disabled>Veuillez choisir ...</option>
                                                <option value="{{vehicule.id}}" *ngFor="let vehicule of vehicules">
                                                    {{vehicule.matricule}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <!-- / .row -->
                            </div>
                            <div class="list-group-item">
                                <div class="row">
                                    <div class="col">
                                        <div class="row align-items-center">
                                            <div class="col">
                                                <ul class="nav nav-tabs nav-tabs-sm card-header-tabs">
                                                    <li class="nav-item" data-toggle="chart" data-target="#salesChart" data-trigger="click" data-action="toggle" data-dataset="0" (click)="typeFilter = 'jour'">
                                                        <a class="nav-link active" href="#" data-bs-toggle="tab">
                                                            Jour
                                                        </a>
                                                    </li>
                                                    <li class="nav-item" data-toggle="chart" data-target="#salesChart" data-trigger="click" data-action="toggle" data-dataset="2" (click)="typeFilter = 'periode'">
                                                        <a class="nav-link" href="#" data-bs-toggle="tab">
                                                            Période
                                                        </a>
                                                    </li>
                                                </ul>
                                                <!-- *** *** -->
                                                <div class="input-group mb-3 mt-3">
                                                    <!-- jour -->
                                                    <input type="date" class="form-control form-control-sm" [(ngModel)]="filter.date_debut" name="date_debut" *ngIf="typeFilter=='jour'">
                                                    <!-- periode -->
                                                    <input type="date" class="form-control form-control-sm" [(ngModel)]="filter.date_debut" name="date_debut" *ngIf="typeFilter=='periode'">
                                                    <input type="date" class="form-control form-control-sm" [(ngModel)]="filter.date_fin" name="date_fin" *ngIf="typeFilter=='periode'">
                                                </div>
                                                <!-- -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- / .row -->
                            </div>
                        </div>
                        <!-- Button -->
                        <button class="btn w-100 btn-outline-primary" type="submit">
                            Appliquer le filtre
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <!-- ./col-auto -->
    </div>
</div>
<!-- ./row -->
<div class="row" style="padding: 0 10px;">
    <div class="main-card mb-3 card">
        <div class="no-gutters row">
            <div class="col-md-6 col-xl-4">
                <div class="widget-content">
                    <div class="widget-content-wrapper">
                        <div class="widget-content-right ml-0 mr-3">
                            <div class="widget-numbers text-success">{{infosGlobale.distanceParcourue.toFixed()}} Km</div>
                        </div>
                        <div class="widget-content-left">
                            <div class="widget-heading">Distance parcourue</div>
                            <!-- <div class="widget-subheading">Lorem ipsum dolor</div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="widget-content">
                    <div class="widget-content-wrapper">
                        <div class="widget-content-right ml-0 mr-3">
                            <div class="widget-numbers text-warning">{{infosGlobale.dureeConduite}}</div>
                        </div>
                        <div class="widget-content-left">
                            <div class="widget-heading">Durée de conduite</div>
                            <!-- <div class="widget-subheading">Lorem ipsum dolor</div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="widget-content">
                    <div class="widget-content-wrapper">
                        <div class="widget-content-right ml-0 mr-3">
                            <div class="widget-numbers text-danger">{{infosGlobale.fuelConsomme?.toFixed(2)}} Dh</div>
                        </div>
                        <div class="widget-content-left">
                            <div class="widget-heading">Fuel consommé</div>
                            <!-- <div class="widget-subheading">Lorem ipsum dolor</div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ./ -->
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-header-title">
                    Class énergétique
                </h4>
            </div>
            <div class="card-body">
                <div class="energy-class row">
                    <div class="col-md-6">
                        <div class="eca"></div>
                        <div class="ecb"></div>
                        <div class="ecc"></div>
                        <div class="ecd"></div>
                        <div class="ece"></div>
                        <div class="ecf"></div>
                        <div class="ecg"></div>
                    </div>
                    <div class="col-md-6" style="transform: rotate(180deg);">
                        <div class="_ecg invisible"></div>
                        <div class="_ecf invisible"></div>
                        <div class="_ece invisible"></div>
                        <div class="_ecd invisible"></div>
                        <div class="_ecc"></div>
                        <div class="_ecb invisible"></div>
                        <div class="_eca invisible"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="col-md-12">
            <div class="card card_height">
                <div class="card-header">
                    <h4 class="card-header-title">
                        Consommation moyenne
                    </h4>
                </div>
                <div class="card-body">
                    <h3 class="text-center">
                        {{infosGlobale.consommationMoyenne.toFixed(2)}}
                    </h3>
                </div>
            </div>
        </div>
        <!-- ./col-md-12 -->
        <div class="col-md-12">
            <div class="card card_height">
                <div class="card-header">
                    <h4 class="card-header-title">
                        Emission Co2
                    </h4>
                </div>
                <div class="card-body">
                    <h3 class="text-center">
                        {{infosGlobale.emissionCo2?.toFixed(2)}}
                    </h3>
                </div>
            </div>
        </div>
        <!-- ./col-md-12 -->
    </div>
    <!-- ./col-md-3 -->
    <div class="col-md-3">
        <div class="col-md-12">
            <div class="card card_height">
                <div class="card-header">
                    <h4 class="card-header-title">
                        Score globale
                    </h4>
                </div>
                <div class="card-body">
                    <h3 class="text-center">
                        {{infosGlobale.scoreGlobale}}%
                    </h3>
                </div>
            </div>
        </div>
        <!-- ./col-md-12 -->
        <div class="col-md-12">
            <div class="card card_height">
                <div class="card-header">
                    <h4 class="card-header-title">
                        Empreinte carbone
                    </h4>
                </div>
                <div class="card-body">
                    <h3 class="text-center">
                        {{infosGlobale.empreinteCarbone?.toFixed(2)}}
                    </h3>
                </div>
            </div>
        </div>
        <!-- ./col-md-12 -->
    </div>
    <!-- ./col-md-3 -->
</div>
<!-- ./ -->